[2020-08-26 19:31] rsmayda opened #87 "[Feature Request] Support the FHIR History operation"
Create a new package called fhir-works-on-aws-history-es that implements the FHIR specified history api:
- https://www.hl7.org/fhir/http.html#history

This task does not require improvements to the Elasticsearch search capabilities (like searching >= a certain date)

A/C:
- New repository
- Proper testing
- Updating integration tests
- Update this deployment package to use it

[2020-09-10 22:04] jcarta opened #99 "Installation Errors with AWS Credentials"
I am trying to install this using an AWS EC2 instance running RedHat.

When I go to run the install.sh script, I get the following error:

`Could not find any valid AWS credentials. You can configure credentials by running 'aws configure'`

When I run `aws configure`, I get the following:

[code]

The access key and secret key are both active and were created using IAM. Is there something I am mis

[2020-09-10 22:24] rsmayda commented on #99
Lets see how are you running the install.sh script?
[code]
If that doesn't work I am thinking your sudo/root user doesn't have access to your path. Could you try:
[code]

[2020-09-10 22:28] jcarta commented on #99
Here is the output when I run `sudo ./scripts/install.sh`

`AWS CLI cannot be found. Please install or check your PATH.  Aborting.`

When I run `sudo "PATH=$PATH" -E ./scripts/install.sh` I get the same error as before.

I will note that I am using AWS CLI version 2. Not sure if that matters or not. Here is the output of `aws --version`
`aws-cli/2.0.47 Python/3.7.3 Linux/4.18.0-193.el8.x86_64 exe/

[2020-09-10 23:15] nguyen102 commented on #99
We've tested the install script with an Amazon Linux 2 instance. Would you be able to try running the code on a Linux 2 instance instead?
<img width="1349" alt="Screen Shot 2020-09-10 at 7 13 26 PM" src="https://user-images.githubusercontent.com/3661906/92822231-eeca4280-f399-11ea-90d0-f56165847ba2.png">

[2020-09-10 23:34] rsmayda commented on #99
What is your local path? Try running. echo $PATH also what is your sudo echo $PATH

[2020-09-10 23:42] jcarta commented on #99
I just opened up a new instance (Amazon Linux 2). Here is the `aws --version` it came with:
`aws-cli/1.18.107 Python/2.7.18 Linux/4.14.193-149.317.amzn2.x86_64 botocore/1.17.31`

My PATH (both sudo and non-sudo) is `/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/ec2-user/.local/bin:/home/ec2-user/bin`

[2020-09-10 23:56] jcarta commented on #99
I still got the same error. Though this time my IAM console registered activity with my Access Key.
The policy attached to this user is: AdministratorAccess

![image](https://user-images.githubusercontent.com/38144076/92826819-225b9b80-f39f-11ea-97b2-c495062a4414.png)

[2020-09-11 03:01] vagarwal77 opened #100 "DEV_FHIR_API_ENDPOINT value post successful installation"
As per console logs, seems like, Fhir deployment has been successful -

Please suggest where and at which port FHIR server will be running? I need this info to test with Postman and also to test the APIs.
Normally, every service prints the url in the last

  {
      "enabled": true,
      "key": "API_URL",
      "value": "<DEV_FHIR_API_ENDPOINT>",
      "type": "text"
    },
    {
      "enabled":

[2020-09-11 12:54] rsmayda commented on #100
The system is running off of API Gateway using default ports (80, 443) so no port is required to be specified. To get your system attributes please run: `serverless info --verbose --region <REGION> --stage <STAGE>`

More advice/instructions here: https://github.com/awslabs/fhir-works-on-aws-deployment#user-variables

[2020-09-11 13:37] rsmayda commented on #99
Ok I think I am getting closer -- since we are using `sudo` on the install script we must also use `sudo` on `aws configure`. So could you configure your aws cli by using `sudo aws configure`?

I tried that on my side and it worked

[2020-09-11 14:17] jcarta commented on #99
Looks like adding sudo in front of aws configure did get me past the credentials issue. Thank you!

The script did run but failed on a few other occasions; both out-of-memory exceptions.

![image](https://user-images.githubusercontent.com/38144076/92934804-edd6f680-f415-11ea-8fcd-d359bfd60a08.png)

and

![image](https://user-images.githubusercontent.com/38144076/92936052-a3ef1000-f417-11ea-8489-9b

[2020-09-11 14:20] rsmayda commented on #99
Good glad to hear we got through the first hurdle ;)

Next for Memory  -- as describe in the Prereqs (https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/INSTALL.md#prerequisites) we recommend having at least 4 GB of RAM. Can you confirm what your RAM settings are?

[2020-09-11 15:03] jcarta commented on #99
I switched from a t2.micro instance to a t2.medium instance and it worked!
Thank you to the AWS team for the quick responses!

[2020-09-11 15:03] #99 closed, assigned to nobody

[2020-09-11 16:41] jcarta commented on #100
I am also have issues testing this out.

When I run `serverless info --verbose --region <REGION>  --stage <STAGE>` I get a `developer-key-dev` and `ServiceEndpoint` key/value pair. Is this what's used for the `API_KEY` and `API_URL`  respectively in the curl command below?

`curl -H "Accept: application/json" -H "Authorization:<COGNITO_AUTH_TOKEN>" -H "x-api-key:<API_KEY>" <API_URL>`

[2020-09-11 18:37] vagarwal77 commented on #100
2 observations -
1. All over the place, hetting error "serverless: command not found".

FHIR Works is deploying. A fresh install will take ~20 mins
./scripts/install.sh: line 313: serverless: command not found
Deployed Successfully.
[xx@ip-1xxxx fhir-works-on-aws-deployment]$ serverless info --verbose --region us-east-1 --stage dev
-bash: serverless: command not found

2. I don't see any new API G

[2020-09-11 18:45] vagarwal77 commented on #100
Also, Info_Output.yml of size 0.

-rw-r-----. 1 root                       root                                0 Sep 11 17:06 Info_Output.yml

[2020-09-11 18:48] jcarta commented on #100
Sounds the package didn't install correctly on your machine. Check to see if your scripts/install.sh script returned any errors.

I got it to work using a t2.medium EC2 instance running the Amazon Linux 2 OS

[2020-09-11 18:48] rsmayda commented on #100
@jcarta -- Yep those are the right values, though we recommend you to use postman to interact with the API (it is 1000x easier)

https://github.com/awslabs/fhir-works-on-aws-deployment#using-postman-to-make-api-requests

[2020-09-11 18:51] rsmayda commented on #100
@vagarwal77 I think jcarta is right it sounds like the installation is not successful.

Could you provide this information so we can help debug?

- What is the operating system you are using for the installation?
- What is the command you are running to start your install?

[2020-09-11 19:02] jcarta commented on #100
Thanks. I did get it to work with Postman. I added the token and API key to the headers and posted `{"resourceType": "Binary", "contentType": "image/jpeg"}` to `{{API_URL}}/Binary` and got a pre-signed PUT URL back.

I would like to experiment with other requests but I don't have an intuition for how to structure the body of the message. Are there examples for making requests to `{{API_URL}}/Patie

[2020-09-11 20:10] vagarwal77 commented on #100
Retried and same error -
Full terminal output below -

[code]

[2020-09-11 20:13] vagarwal77 commented on #100
sudo "PATH=$PATH" -E ./scripts/install.sh --region us-east-1 --stage dev

[2020-09-11 21:13] rsmayda commented on #100
@jcarta - information on Binary resources (they are handled in a special way) https://github.com/awslabs/fhir-works-on-aws-deployment#accessing-binary-resources

As for resource examples: in postman you go to 'POST Patient' then click on the 'Body' tab you should see an example body of what a Patient request would look like. If you want other examples the FHIR site gives at least 1 example per bas

[2020-09-11 21:25] rsmayda commented on #100
@vagarwal77  Interesting the version of serverless that is being installed looks to be broken see the existing unit test from serverless team: https://github.com/serverless/serverless/runs/1096482528

For the time being you can try to install serverless manually by specifying a working version, by using these commands:
[code]

Then you can try the install.sh script

We will look more into this iss

[2020-09-11 21:29] rsmayda commented on #100
TODO:
- Update script to stop if serverless fails to install
- Update script to install a specific version of serverless

[2020-09-11 22:15] vagarwal77 commented on #100
Seems like, serverless is broken badly :-

[vagarwal@ConcertoHealth.AI@ip-10-164-1-105 fhir-works-on-aws-deployment]$ sudo npm install -g serverless@~1.62.0
npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
/usr/bin/serverless -> /usr/lib/node_modules/serverless/bin/serverless

[2020-09-13 21:06] jcarta opened #103 "Adding other FHIR Resources and DSTU2"
The tutorial implemented the Patient and Binary resources. How would we go about adding the remaining resources? How would we go about adding the DSTU2 capability?

[2020-09-15 13:13] SanketD92 commented on #103
Hello @jcarta, thanks for the question. For other observations you could navigate to fhir.com/Observation.

For the DSTU2 capability, could you elaborate as to why that suits your use-case better than R4?

[2020-09-15 20:24] jcarta commented on #103
I was looking at the EPIC sandbox, https://fhir.epic.com, and some resources such as FamilyMemberHistory only support DSTU2.

[2020-09-15 20:24] #103 closed, assigned to nobody

[2020-09-21 14:01] steve1973 opened #108 "'ResourceNotFoundError' when updating a Resource"
Good afternoon

We noticed that when updating a resource with a document status of 'AVAILABLE' and vid of 10 we were receiving a 'ResourceNotFoundError' error. The latest 2 versions of the resource should be returned from the 'getMostRecentValidResource' query, but we were actually getting versions 8 & 9 back, which were both set to 'DELETED'. The problem appears to be related to the vid, which is

[2020-09-21 14:06] rsmayda commented on #108
@steve1973 Good callout here -- We will take a moment to confirm and get back to you by EOD

[2020-09-21 14:28] steve1973 commented on #108
Thanks Robert.

[2020-09-21 14:32] rsmayda commented on #108
Confirmed - will prioritize ASAP

[2020-09-21 19:33] vagarwal77 opened #109 "Fhir support for RedShift"
We use AWS RedShift as data warehouse and would like to use current infrastructure behind fhir lambda..

Please suggest if any RedShift connector or blueprints for fhir exist?

[2020-09-21 19:41] vagarwal77 opened #110 "OMOP CDM data model support through fhir"
Please suggest if fhir can support OMOP CDM data models or having it on its roadmap for near time support?

[2020-09-21 22:40] vagarwal77 opened #111 ""message": "Internal server error" for POST {{API_URL}}/Binary endpoint"
When sending jpeg file, getting below error -
POST {{API_URL}}/Binary
{
    "message": "Internal server error"
}

<img width="651" alt="Screen Shot 2020-09-21 at 6 37 54 PM" src="https://user-images.githubusercontent.com/46463536/93828557-9caadc00-fc39-11ea-8103-87ff4b2a4219.png">

When not sending binary file, getting below error -

{
    "resourceType": "OperationOutcome",
    "text": {

[2020-09-22 00:30] Bingjiling commented on #111
Hi @vagarwal77, thanks for reaching out! It appears that the resourceType & contentType attribute is missing from the request body. You can reference this example [here](https://github.com/awslabs/fhir-works-on-aws-deployment#curl) for posting a Binary resource to FHIR API. Hope this helps :)

[2020-09-22 00:31] Bingjiling commented on #110
Hi @vagarwal77, thanks for reaching out! I'll check with the team tomorrow and get back to you.

[2020-09-22 00:31] Bingjiling commented on #109
Hi @vagarwal77, thanks for reaching out! I'll check with the team tomorrow and get back to you.

[2020-09-23 20:42] Bingjiling commented on #109
Hi @vagarwal77 , FHIR Works on AWS (FWoA) doesn't have any RedShift connector or blueprints. FWoA was designed in a way where all components can be easily swapped except for the deployment and interface components. The idea here is if customers using FWoA like to use other technology or database for a certain component, they can build it out and plug it into FWoA while keeping all the other compon

[2020-09-24 12:31] rsmayda commented on #100
Hey @vagarwal77!

I believe we are helping you offline. Is there anything else we can help you with?

[2020-09-24 13:17] rsmayda commented on #108
We are looking to have this in by end of week -- will update when pushed

[2020-09-25 09:54] steve1973 commented on #108
I presume the AttributeType for vid in serverless.yaml will be updated to 'N'?

[2020-09-25 20:10] rsmayda commented on #108
Both PRs have been merged! As mentioned in our [change log](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/CHANGELOG.md#added) if you want to keep your data you must run the [migration script](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/scripts/sort-key-migration.js)

Thanks for bringing this to our attention! Have a great weekend

[2020-09-25 20:10] #108 closed, assigned to rsmayda

[2020-09-29 20:00] jn1119 commented on #110
Hi  @vagarwal77 We are currently not planning to store data natively in analytical data formats any time soon. It is possible though for you to build your own storage abstraction layer that will allow for this. Let me know if you have any follow up questions.

[2020-10-06 02:48] #100 closed, assigned to rsmayda

[2020-10-06 02:48] #109 closed, assigned to nobody

[2020-10-06 02:49] #111 closed, assigned to nobody

[2020-10-08 19:47] vagarwal77 opened #117 "list of supported resources"
I can see the working example of Patient resources.
Where i can see the list of supported resourceType like Encounter, Observation etc?

Please suggests if these are the supported resourceType?

[2020-10-08 19:56] carvantes commented on #117
The default installation supports the FHIR 4.0.1 resource types. The complete list of supported resource types can be found here:

https://github.com/awslabs/fhir-works-on-aws-deployment/blob/b68d6387b2c748194cd13cb598754c9afb395809/src/constants.ts#L8-L14

[2020-10-08 19:58] carvantes commented on #117
Both Encounter and Observation are supported.

I'm closing this issue, but feel free to reopen if you have further questions

[2020-10-08 19:59] #117 closed, assigned to nobody

[2020-10-22 01:42] #110 closed, assigned to nobody

[2020-10-28 04:20] PrimKruskal opened #129 "Search based on dates not working"
Search based on birthDate on patient api is not working and it is returning  zero results even though date are available.

 {{API_URL}}/Patient?birthdate=1987-02-20 or {{API_URL}}/Patient?birthDate=1987-02-20

![image](https://user-images.githubusercontent.com/72479878/97390413-d27f5800-18aa-11eb-92bb-ee73dd4ae935.png)

[2020-10-28 12:50] rsmayda commented on #129
Confirmed

Reproducible:
1. post this Patient: https://www.hl7.org/fhir/patient-example.json
1. search {{API_URL}}/Patient?birthDate=1974-12-25

Some ideas:
- Perhaps elastic search requires some sort of format for searching on a `date` type

Next steps:
- see how to search on it via Kibana

![image](https://user-images.githubusercontent.com/5750407/97438010-9ecc1e80-18fa-11eb-814e-319e108a5297.pn

[2020-10-30 00:02] SanketD92 commented on #129
@PrimKruskal Thanks for bringing up this issue, and @rsmayda for the prompt confirmation.

We're creating a backlog task for this to be prioritized into one of our upcoming sprints.

[2020-11-02 06:07] matthewjcable opened #136 "Working Bundle Example?"
I am having problems getting a Bundle Transaction to work.    Is there a good working example, from the API interface somewhere?  I desperately need to get some data loaded.  Some observations:

- It would be incredibly nice to have a working **Bundle example added to the  Fhir.postman_collection.json** in the Deployment project.  Especially one that creates a new resource WITH a supplied ID for t

[2020-11-03 15:21] Bingjiling commented on #136
Hi Matthew, thanks for reaching out to us! I'll check with my team on bundle examples and get back to you today.

[2020-11-03 15:51] Bingjiling commented on #136
Hi Matthew, we do not have an example of a bundle request in the repo for now. I'll create a ticket for us to add it in the near future. In the mean time, please feel free to take a stab at it if you would be so kind to help out.

Here's an example of a bundle request body:

[code]
![Screen Shot 2020-11-03 at 10 39 57 AM](https://user-images.githubusercontent.com/14276357/98007633-a2134e80-1dc1-11

[2020-11-03 18:06] matthewjcable commented on #136
Thank you for the clarification.   I am able to get Bundles to go in now using that root route.

Unfortunately it looks like my desire to create (or update as new) with a specified ID, is not yet possible.  It seems to be constrained by the same "updateCreate" bug [#17](https://github.com/awslabs/fhir-works-on-aws-persistence-ddb/issues/17) also discussed in the Persistence library.

[2020-11-22 18:05] Nabellaleen opened #159 "How to use an AWS named profile ?"
I use AWS named profiles to handle my various AWS accounts, and I wonder how I should use the install.sh script with a named profile ?

I've tried something like `AWS_PROFILE=myprofile && sudo "PATH=$PATH" -E ./scripts/install.sh -r eu-west-3 -s dev` but I still have the following error message :
[code]

[2020-11-23 08:02] carvantes commented on #159
Hi,

I don't see anything wrong with your command. That exact command works for me(I'm testing on macOS)

The `install.sh` script does not have code specific for aws profiles. If the `AWS_PROFILE` env variable is set correctly things should work.

Could you double check that the profile you are using is valid by running:
[code]

[2020-11-23 11:12] Nabellaleen commented on #159
The profile is not found by the command while using sudo

I think the problem is that the profile has to exists in the `~/.aws/*` files and, while using the previous command, it looking for root home directory and not original user home :/

[code]

Any tips to handle that ? (I'm on Fedora, an UNIX system ; maybe MacOS has some hackish behaviours)

[2020-11-23 13:43] Nabellaleen commented on #159
It worked by doing :
[code]

Without these 2 variables defined, sudo aws cli is not able to find the configuration files, with or without the `-E`

[2020-11-23 15:34] Nabellaleen opened #161 "Info_Output.yml is empty"
Hi,

I'm on Linux Fedora 32.

I've launched the `./scripts/install.sh`, let it install the dependencies.
No ACCESS TOKEN was output, because Cognito wal already initialized. (which seems not true : there is nothing setup in Cognito while looking via the console)

I've let the CLI create a Cognito user, and the tool said :
[code]

Then I've answered `no` to the question about logs and backup.

And

[2020-11-23 15:49] carvantes commented on #159
You are right. This issue explains the aws cli sudo behavior quite nicely: https://github.com/aws/aws-cli/issues/3121

Our initial recommendation is to run `sudo aws configure`. But in order to use the existing credentials file then setting the additional env variables you propose is correct.

[2020-11-23 18:10] Nabellaleen opened #162 "Docker installation is not working on Fedora 32"
To make it work, I had to add `--network=host` to the build command. Without it, docker is not able to reach debian servers for the apt-get commands

[code]

[2020-11-23 18:20] Nabellaleen commented on #162
I also had to use `--network=host` with the `docker run` command

[2020-11-23 18:34] Nabellaleen commented on #161
I have the same issue by using the docker installation

[2020-11-23 18:37] nguyen102 commented on #161
Hi,

Thanks for your feedback. You can check the CloudFormation Stack in `eu-west-3` to see what the error was and where the installation failed. The CloudFormation stack should be named `fhir-service-<stage>`, by default it would be `fhir-service-dev`.

Can you check the CloudFormation stack and see what the status is?

Also can you please c/p the full console output from your terminal into this

[2020-11-23 19:53] nguyen102 commented on #162
Thanks for your feedback. I'll look into including this in our documentation as a troubleshooting tip.

[2020-11-23 21:19] carvantes commented on #159
I just merged your PR with the troubleshooting notes.

Thanks again for your contribution!

[2020-11-23 21:19] #159 closed, assigned to nobody

[2020-11-24 16:56] Nabellaleen commented on #161
There is absolutely nothing :
![image](https://user-images.githubusercontent.com/3717607/100126575-66c6e580-2e7e-11eb-8afc-93098b249a6d.png)

[2020-11-24 18:53] nguyen102 commented on #161
It looks like the UI is currently set to filter for "Active" stacks. Can you check the other filters to see if there are any other stacks? For example, the "Failed", "Deleted", and "In Progress" filters. Also can you confirm that the you're trying to deploy to `eu-west-3` and that the screenshot above is displaying CloudFormation stack from `eu-west-3`?

Can you also copy and paste all the command

[2020-11-24 19:21] nguyen102 commented on #161
Another option is to try deploying the stack in another region in which you don't have any resources yet. For example, to deploy in London (eu-west-2)
`sudo ./install.sh --region eu-west-3`

[2020-11-27 21:09] nguyen102 commented on #136
We now include Bundle examples in our POSTMAN collection. The commit where we added these changes is here.
https://github.com/awslabs/fhir-works-on-aws-deployment/commit/42966b5e3c4e51c09314b7107ca0a8ba2130b37a

Please use the new POSTMAN files here.
https://github.com/awslabs/fhir-works-on-aws-deployment/tree/mainline/postman

[2020-11-27 21:09] #136 closed, assigned to nobody

[2020-11-27 21:45] Nabellaleen commented on #161
Yes, nothing in the other filters

Yes, I am

[2020-11-27 22:06] Nabellaleen commented on #161
Note : have to launch the installation script with sudo seems a very strong security risk, in particular as you are running a `yarn install` with these granted rights, and as yarn can run post install system scripts and that history have shown that with the atomicity of NPM packages, it's "easy" to have hands on a little very used package ...

Just provide the dependencies should be sufficient :)

[2020-11-27 22:08] Nabellaleen commented on #161
I'm sorry, I can't spend more time with FHIR Works :/

[2020-11-27 23:07] nguyen102 commented on #162
PR with this troubleshooting tip merged.

[2020-11-27 23:07] #162 closed, assigned to nobody

[2020-11-30 15:03] nguyen102 commented on #161
We're sorry we were unable to get FHIR Works working on your system. If you ever decide to come back to FHIR Works, please let us know.

That's a good point about the `sudo` command. The `sudo` command for the installation script is there because the script installs any dependency on your system that is needed, but might not be there, for example `node`.

An alternative way to install FHIR Works o

[2020-11-30 15:03] #161 closed, assigned to nobody

[2020-12-07 13:56] ghost opened #165 "Support Multi-tenancy"
Add support for multi-tenancy for a more economic Saas offering without affecting the existing non-tenant based approach.

### Initial design proposal:
![](https://app.lucidchart.com/publicSegments/view/e1af0fb0-f821-40ff-a315-2ac19876ff86/image.png)

- API Gateway will be enhanced to pass tenant-id as part of URL - https://fhir.server.com/tenant/{tenant-id}/{resource}

- API Gateway - extract ten

[2020-12-07 14:46] Dunmail commented on #165
+1 We use FWoA as a facade on multiple systems. We would benefit from the `tenant-id` in the URL and as a parameter.

[2020-12-07 18:19] rsmayda commented on #165
Thanks for opening this issue -- If folks from our community are interested in this please 'thumbs-up' up the issue.

We would love to get diverse use-cases to ensure FWoA is built to support flexibility

[2020-12-08 18:30] medhost-jshaver opened #166 "Error during install.sh execution - Lambda function is too large"
Cloned from mainline and while following these steps below I ran into an error during serverless deploy:
https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/INSTALL.md#linux-or-osx-installation

Here is the error

Looking at the fhir-service.zip file that is packaged during this process, it appears to have roughly 540MB in node_modules when uncompressed.
[code]

[2020-12-09 03:35] rsmayda commented on #166
Hmm that is really weird.. What command did you run to get this output? Could you delete your node_modules folder and try again?

[2020-12-09 16:00] medhost-jshaver commented on #166
Here is what I ran -- my best attempt at a sanity check

1. mkdir {newDirectory}
2. cd {newDirecotry}
3. git clone https://github.com/awslabs/fhir-works-on-aws-deployment.git
4. chmod +x ./scripts/install.sh
5. sudo ./scripts/install.sh
6. sudo -E ./scripts/install.sh --stage dev-marlin-1 --region us-east-1

after deleting the node_modules folder and re running I get the same file size.

Here are

[2020-12-09 16:23] rsmayda commented on #166
Doing a quick look into my S3 deployment bucket I am seeing the .zip file being ~11 MB and the unzipped folder being ~55 MB. Let me talk with some teammates to figure out if we can replicate this.

[2020-12-09 19:11] Bingjiling commented on #166
I did a brand new deployment and got the .zip file being 33MB and the unzipped folder being 168MB. Here're the largest files under node_modules:
<img width="618" alt="Screen Shot 2020-12-09 at 2 03 19 PM" src="https://user-images.githubusercontent.com/14276357/101675110-61919b00-3a27-11eb-8d91-bd017e99ef99.png">

What operating system did you use to deploy? I would recommend try [install using Doc

[2020-12-09 20:22] medhost-jshaver commented on #166
I am using macOS Catalina v10.15.7

I started looking into what could be causing so much bloat in the node modules and after running a number of commands I got to a point where my fhir service package looks more reasonable.

I think I caused this issue by running some of those local development deployment scripts in fhir-works-on-aws-deployment/scripts. Perhaps npm retained some of the dev depende

[2020-12-09 21:17] Bingjiling commented on #166
Thanks for sharing the details, it'll be helpful if others run into similar problems. And glad you figured it out! I'll close this issue. Please don't hesitate to reach out if you run into anything else.

[2020-12-09 21:17] #166 closed, assigned to nobody

[2020-12-21 14:43] PrimKruskal commented on #87
Hi rsmayda,
    Whether work has started on history route enhancement ?  If you have empty repo, I can contribute on that.

[2020-12-22 22:12] rsmayda commented on #87
We have not started the work nor do we have an empty repo. We should be able to spin one up in the new year. Just to confirm you guys have a use-case for the [history](https://www.hl7.org/fhir/http.html#history) apis?

Our initial thought is that we can re-use the existing Elasticsearch cluster to search for historical things there. Please let us know if this is a blocking or an important feature

[2020-12-28 15:48] pjohnson-hel opened #171 "Docker install instructions error"
Receiving errors when I try to run the first Docker command in the instructions for installing via Docker:
`docker build -t fhir-server-install -f docker/Dockerfile .`

The tail of the log:

#5 41.88 E: Failed to fetch http://security.debian.org/debian-security/pool/updates/main/p/python3.5/libpython3.5-minimal_3.5.3-1+deb9u3_amd64.deb  400  Bad Request
#5 41.88 E: Failed to fetch http://security.

[2020-12-31 17:58] joekendal opened #174 "Project timeline"
Why do you keep releasing new versions of this repository / is there a checkbox of features you plan to add in future versions that we should know about? What is incomplete / what is missing?

[2020-12-31 18:08] rsmayda commented on #174
New versions indicate that we have 'launched' something. So as we improve this package and subpackages we will create new versions. To see a list of what we have launched so far, check out our [CHANGELOG](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/CHANGELOG.md). To understand the version numbering please checkout [semantic versioning](https://semver.org/).

We have not p

[2020-12-31 18:11] #174 closed, assigned to nobody

[2021-01-04 18:29] nguyen102 commented on #171
Hi,
Thanks for your comment. It looks like Docker is failing to pull in the required libraries to complete the installation process.

For context, can you provide what OS you're running and what version of Docker you're using? I ran the code today using MacOS and `Docker version 19.03.8, build afacb8b`. The build succeeded given these systems configuration.

I wonder if the issue is because of an

[2021-01-04 18:36] pjohnson-hel commented on #171
I don't think my Docker version is outdated but does the below answer your question?

Client: Docker Engine - Community
 Cloud integration: 1.0.4
 Version:           20.10.0
 API version:       1.41
 Go version:        go1.13.15
 Git commit:        7287ab3
 Built:             Tue Dec  8 18:55:31 2020
 OS/Arch:           windows/amd64
 Context:           default
 Experimental:      true

 Engine:

[2021-01-04 19:11] nguyen102 commented on #171
Ah, looks like u do have the latest version of Docker. I updated my version to the same version you're running and was able to run the docker build step.

I notice you're running Windows, is following the Windows installation instructions an option for you?
https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/INSTALL.md#windows-installation

[2021-01-05 17:59] pjohnson-hel commented on #171
@nguyen102 I did try the Windows instructions you linked but I ran into some different issues which I believe are related to permissions on my local machine, I'm not sure if I'll be able to get around those which is why I was attempting the Docker instructions.

To be clear though: I'm not stuck as the Docker instructions do work for me when I exclude portions of the command I noted above. I was h

[2021-01-05 21:02] nguyen102 commented on #171
Thank you Patrick. I've removed `dnsutils` and tested build with the new `dockerfile`. The installation succeeded as expected.

Removing `less` resulted in an error during the FHIR Works Install step. This is because AWS CLI requires less. [More info here](https://github.com/aws/aws-cli/issues/5038).

I've created a PR for it here.
https://github.com/awslabs/fhir-works-on-aws-deployment/pull/176

[2021-01-06 13:59] #171 closed, assigned to nobody

[2021-01-11 20:32] medhost-jshaver opened #182 "Deploy Local Packages to AWS -- missing node_modules dependencies."
Following the instruction under [Deploy Local Packages to AWS](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/DEVELOPMENT.md#deploy-local-packages-to-aws) and I ran into an issue where the packaged fhir-service.zip is missing dependencies.

cloudformation fails with the following error for the FhirServerProvConcLambdaAlias event

Example of an error in cloudwatch
[code]
^ no

[2021-01-12 15:57] rsmayda commented on #182
Thanks for posting this -- I am looking at it now. In the meantime common trouble-shooting step to try is to re-run step 4 `Run fhir-works-deploy.sh`

[2021-01-12 19:14] ghost commented on #182
@rsmayda Is there a work around that would get us past this that you have seen?

[2021-01-12 20:59] rsmayda commented on #182
You still should be able to test locally via `sls offline`. I confirm I am seeing the problem on my end too

[2021-01-13 03:23] rsmayda commented on #182
Another alternative to perhaps avoid some of these dependency issues is to limit the deployment to just the local packages you are working on. Say for example you are just updating the [persistence layer](https://github.com/awslabs/fhir-works-on-aws-persistence-ddb) then you can modify the script to just look for those specific packages. You could find those lines [here](https://github.com/awslabs

[2021-01-13 15:13] ghost commented on #182
@rsmayda Have you ever had an issue where when running offline some of the environment variables like process.env.RESOURCE_TABLE are not set? I am not sure if it is related to this issue or not. We are seeing  Value '[object Object]' at 'tableName'

[2021-01-13 15:48] medhost-jshaver commented on #182
Looks like these packages are getting marked as extraneous by npm and this flag omits them from the output of the command "npm ls --prod=true --parseable=true". This npm ls --prod=true ... command is used by serverless to determine the packages to keep in the zip file for deployment.

I believe the issue stems from the git checkout [here](https://github.com/awslabs/fhir-works-on-aws-deployment/blo

[2021-01-14 02:02] joeportela opened #184 "Lambda too big; Initial deployment failing on UploadGlueScriptsLambdaFunction"
I'm trying to get an initial setup deployed in my account, but it keeps failing on this step. I'm deploying from the mainline branch with no edits.

Logical ID in the CloudFormation stack is UploadGlueScriptsLambdaFunction.

The Status Reason is:
Unzipped size must be smaller than 262144000 bytes (Service: AWSLambdaInternal; Status Code: 400; Error Code: InvalidParameterValueException; Request ID:

[2021-01-14 13:01] rsmayda commented on #182
@medhost-gkersting I should have been more specific, the sls offline command is `AWS_ACCESS_KEY_ID=<Access-Key> AWS_SECRET_ACCESS_KEY=<Secret-Key> OFFLINE_BINARY_BUCKET=<FHIRBinaryBucket> OFFLINE_ELASTICSEARCH_DOMAIN_ENDPOINT=<ElasticSearchDomainEndpoint> serverless offline start`. Also found in the [DEVELOPMENT.md](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/DEVELOPMENT.

[2021-01-14 13:03] rsmayda commented on #182
@medhost-jshaver 👏 👏 Excellent research -- I'd love to hear the results :)

[2021-01-14 13:07] rsmayda commented on #184
Thanks for alerting us! Could you share the sls version you are running? `sls --version`

[2021-01-14 13:45] ghost commented on #182
@rsmayda We are currently using that command. We found a way of getting past it by reverting a few of the changes in https://github.com/awslabs/fhir-works-on-aws-deployment/pull/170

    RESOURCE_TABLE: !Ref ResourceDynamoDBTableV2
    EXPORT_REQUEST_TABLE: !Ref ExportRequestDynamoDBTable
back to
    RESOURCE_TABLE: '${self:custom.resourceTableName}'
    EXPORT_REQUEST_TABLE: '${self:custom.export

[2021-01-14 20:22] medhost-jshaver commented on #182
It worked! Updating + committing the package.json dependencies in the deployment package before the scripts were ran was the fix. The node modules matched the package.json afterwards.

In case anyones runs into this:

so if yarn/yalc put these in the node_modules:

fhir-works-on-aws-authz-rbac@4.1.0+97caac97
fhir-works-on-aws-persistence-ddb@3.0.0+7f1d59ed
fhir-works-on-aws-routing@4.0.0+60259b47

[2021-01-14 22:48] joeportela commented on #184
For sure, here's the output:
[code]

Thanks for looking into this!

[2021-01-18 20:13] jeffbonasso-ambifi opened #187 "Any support for Synthea?"
I am trying to populate some synthetic patients using Synthea (https://github.com/synthetichealth/synthea).

For records that have references getting an error like this...

`This entry's reference is not recognized. Entry's reference is: Practitioner?identifier=http://hl7.org/fhir/sid/us-npi|9999999459 . Valid format includes <url>/resourceType/id or <urn:uuid:|urn:oid:><id>`

Curious if this may

[2021-01-18 20:14] jeffbonasso-ambifi opened #188 "Bundle 25 record limit"
Synthea (https://github.com/synthetichealth/synthea) generates bundles that span a patient's lifetime and definitely way more than the 25 record limit that is currently supported. Is there any plans for removing that limit, or is it a function of the serverless architecture?

[2021-01-19 21:59] Bingjiling commented on #184
Thanks for sharing the information! We had a similar issue before for [Lambda function is too big](https://github.com/awslabs/fhir-works-on-aws-deployment/issues/166), and it was resolved by cleaning up npm dependencies locally. Could you please try the commands mentioned in [this comment](https://github.com/awslabs/fhir-works-on-aws-deployment/issues/166#issuecomment-742025641) and see if it work

[2021-01-19 22:01] Bingjiling commented on #188
Hi @jeffbonasso-ambifi , thanks for reaching out! I'll check with the team and get back to you on Bundle record limit.

[2021-01-19 23:45] tledwar opened #190 "[Feature Request] Make getting new access_token easier from POSTMAN"
I am having issues using Postman to make my first call to FHIR Works on AWS. Per https://github.com/awslabs/fhir-works-on-aws-deployment#retrieving-access-token-via-postman-scope--openid-profile and specifically in the section called Authorizing a User, I am use the Get New Token feature. Please note I am using the Postman collection from this project.

For this feature, Postman opens up a dialog

[2021-01-20 04:41] rhinozD opened #191 "Searching by full TimeStamp; Observation date search is not working"
There is my data in Observation record:
`"effectiveDateTime": "2019-11-28T19:00:06Z",`
When I make a search request such as:
`/Observation?date=2019-11-28T19:00:06Z`
It is not working.
Error:
`{
    "resourceType": "OperationOutcome",
    "text": {
        "status": "generated",
        "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><h1>Operation Outcome</h1><table border=\"0\"><tr><td style=

[2021-01-20 16:45] rsmayda commented on #191
Thank for bringing this up we are currently using dynamic mapping of Elastic Search indexes meaning that FWoA search parameters could be classified as a `string` instead of a `date`. Resulting in this odd behavior

We already have a issue open https://github.com/awslabs/fhir-works-on-aws-deployment/issues/129. I am in favor of combining the issues into one, but to confirm did I understand your iss

[2021-01-21 02:03] rhinozD commented on #191
Sorry for making you confuse.
There is 2 problems:

**1.** About [https://github.com/awslabs/fhir-works-on-aws-deployment/issues/129](url)'s issue,
I confirmed that I can search with: `{{API_URL}}/Patient?birthdate=1987-02-20` on current FWoA version, but only  `{{API_URL}}/Observation?date=2015-10-11` still not work.

The FHIR document defined:
https://www.hl7.org/fhir/observation.html#search
![i

[2021-01-21 02:04] Bingjiling commented on #187
Hi @jeffbonasso-ambifi , thanks for reaching out! I'm wondering if you could provide an example of a record you tried to add?

[2021-01-21 02:10] Bingjiling commented on #190
Hi @tledwar , thanks for reaching out! Could you please share a screenshot of the Postman dialog box or any input fields you're having trouble with?

[2021-01-21 12:59] jeffbonasso-ambifi commented on #187
Sure, this is a patient generated with default options of Synthea. Basically follows them through their life as they interact with the healthcare system.

[Leonard963_Zboncak558_e54889d8-0779-6ac5-5688-7d1c87a7979a.json.zip](https://github.com/awslabs/fhir-works-on-aws-deployment/files/5849413/Leonard963_Zboncak558_e54889d8-0779-6ac5-5688-7d1c87a7979a.json.zip)

[2021-01-21 14:43] Bingjiling commented on #182
[sls offline bugfix](https://github.com/awslabs/fhir-works-on-aws-deployment/commit/57fafb54e972f796a93a0c22aa72c3c8afae2847) and [trouble-shooing tips](https://github.com/awslabs/fhir-works-on-aws-deployment/pull/189) have been added. Thanks @medhost-jshaver and @medhost-gkersting for sharing all the details and tips!

[2021-01-21 14:43] #182 closed, assigned to rsmayda

[2021-01-21 16:33] tledwar commented on #190
Attached  is the screen shot for the Get New Token.

![Untitled](https://user-images.githubusercontent.com/15660075/105380585-acc8cd00-5bd3-11eb-98da-dc0212a34209.png)

When you request a new token, you get the following error:
Could not complete OAuth 2.0 login. Check Postman Console for more details.

Since Cognito is Oath2, I was thinking Oath 2 should be used as the Authorization. If I get a t

[2021-01-21 16:35] Bingjiling commented on #188
Hi @jeffbonasso-ambifi , we have it on the road map to up the limit or 25 records, but not near term. The 25 record limit comes from [Dynamo DB Transactions](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/transaction-apis.html), where TransactWriteItems and TransactGetItems both have limit of 25 distinct records. I've created a ticket in our backlog to track this request. Hope th

[2021-01-21 17:50] Bingjiling commented on #187
Thanks for the example! Currently FWoA only support reference in format  `<url>/resourceType/id` or `<urn:uuid:|urn:oid:><id>`, search URL is not supported at the moment. We tried using FWoA with Synthea generated data, here's an example that works:

[Horacio317_Dare640_cbe1ff84-8b75-73e5-bba4-5dca2a5bc62f.json.zip](https://github.com/awslabs/fhir-works-on-aws-deployment/files/5851160/Horacio317_D

[2021-01-25 23:22] chafey opened #194 "Add support for visual studio code remote containers"
For development I really like using visual studio code with the remote containers extension.  This gives you the same benefits of your docker installation path but cleanly integrates with visual studio code.  You can see an example of how I used this for another project here:

https://github.com/chafey/dumbo-drop

I would be happy to submit a PR if this is of interest - please let me know!

[2021-01-26 12:23] rsmayda commented on #191
Ah okay thank you for explaining! Searching for time stamps has not been a known use case and we will put it on our backlog. For your first issue I'm not sure why you are getting a 500 could you look at your logs and share what the 500 is?

[2021-01-26 12:57] silverslingshot1 commented on #184
I've received exactly the same error and I have tried clearing the npm cache. It didn't make a difference. Any other suggestions?
I'm using Win 64.

Your Environment Information ---------------------------
     Node Version:              14.4.0
     Framework Version:         2.20.1 (standalone)
     Plugin Version:            4.4.2
     SDK Version:               2.3.2
     Components Version:

[2021-01-26 13:13] silverslingshot1 opened #195 "Initial deployment failing on Serverless: Copying Dependencies ..."
I'm trying to deploy for the first time into my account, but it keeps failing on this step "Serverless: Copying Dependencies" with this error "EISDIR: illegal operation on a directory, symlink". I'm deploying from the mainline branch with no edits.

[code]

[2021-01-26 13:16] silverslingshot1 commented on #195
I just wanted to let others know that this issue was caused by the fact that I was trying to deploy it from partition D on Windows for some reason. I moved the package on C in a new folder called temp and it worked all the way to trying to deploy the lambda function where it failed because of the package being too large. There is another issue raised with that one and I've put my comment there.
Ho

[2021-01-27 02:54] rsmayda commented on #195
Thanks for letting us know! We will plan to add this to our 'Troubleshooting' section

[2021-01-27 02:59] rsmayda commented on #184
Hmm with multiple folks seeing this issue it will be worth-while to dig deeper here. @dilyes I would recommend seeing if these steps from our community will be helpful; for the time being: https://github.com/awslabs/fhir-works-on-aws-deployment/issues/166#issuecomment-742025641

[2021-01-27 03:02] rsmayda commented on #190
I think that is right and the right piece of feedback. Thanks for this, we will take a look into these Quality of life improvements

[2021-01-27 16:21] silverslingshot1 commented on #184
@rsmayda thanks for looking into this.
I was able to deploy the stack using Docker so that is working fine.

[2021-01-28 14:45] SanketD92 commented on #188
Closing due to inactivity.

[2021-01-28 14:45] #188 closed, assigned to nobody

[2021-01-28 17:41] rhinozD commented on #191
Sorry, my first issue was not explained clearly.
I mean **it responses with 0 records**.

With the information below I think I can search Observation resource by `date` search parameter, but I can't.

In the FHIR document, `date` search parameter was defined:
![image](https://user-images.githubusercontent.com/7701882/106173273-169a3580-61d7-11eb-898a-d6b2c5e32381.png)
It means I can search by Obse

[2021-01-30 01:18] carvantes commented on #191
Hi, Thanks again for the detailed issue report. I looked into it, there are 2 things that are wrong:

1. The 500 error is due to improper handling of reserved characters (`:` in this specific case)
[code]
In ElasticSearch `query_string` queries, the reserved characters are: `+ - = && || > < ! ( ) { } [ ] ^ " ~ * ? : \ /`. This actually affects also queries not related to dates (i.e. `/Patient?name

[2021-02-08 04:04] joekendal commented on #187
We've had this working with Synthea just fine

[2021-02-08 04:48] #187 closed, assigned to nobody

[2021-02-08 04:50] rsmayda commented on #194
Feel free to open a PR if you think it’d benefit the community! I don’t have any experience using this tool

[2021-02-09 12:35] AllanHodkinson opened #200 "[Feature Request] Capabilities defined by the `persistence` package"
Hi AWS team,
Are you looking at the possibility of deriving the fields that go into the FHIRConfig router definition automatically from the server ".capabilities" method?
The FWoA router provides the "/metadata" route which builds a CapabilityStatement from the server config but there is scope for having a mismatch between what is set in the FHIRConfig and what the server describes in its ".capabi

[2021-02-13 00:46] carvantes commented on #200
Hi,

The goal is for the capability statement in the response from `/metadata` to truly describe the capabilities of a FWoA FHIR Server.

`FHIRConfig` is the source of truth for the capabilities of the server. The capability statement is derived from `FHIRConfig`

There were some inconsistencies among the 2 in the past. The biggest one being the search parameters which was addressed by implementin

[2021-02-13 00:56] carvantes commented on #200
It is true that some capabilities are hard-coded right now. i.e. `conditionalRead: 'not-supported',` at [cap.rest.resource.template.ts](https://github.com/awslabs/fhir-works-on-aws-routing/blob/mainline/src/router/metadata/cap.rest.resource.template.ts#L28)

That's good enough for customers using the default configuration, but it wouldn't be accurate if customers bring their own implementation of

[2021-02-14 00:14] fatemeh91 opened #211 "HTTP Delete request does not work"
I tried to delete  my recourse via below code but it returns me an error that url not found.

String pt_url0 = "BASEURL/dev/Patient?identifier=1234";
		URL url0 = new URL(pt_url0);
		HttpURLConnection connection0 = (HttpURLConnection) url0.openConnection();
		connection0.setRequestProperty("Content-Type", "application/json; charset=utf-8");
		connection0.setRequestProperty("Authorization", cognito

[2021-02-14 01:46] rsmayda commented on #211
Hey thanks for reaching out!

It looks like you are trying to delete off of a search query. The FHIR specification calls for a delete url to look like: 'DELETE [base]/[type]/[id]'

https://www.hl7.org/fhir/http.html#delete

Please adjust your url and try again!

[2021-02-14 02:16] fatemeh91 commented on #211
Hi Thanks,
I even change the url but the operation is not working.

String pt_url0 = "https://uwiv2v70ia.execute-api.us-west-2.amazonaws.com/dev/Patient?identifier=1234#delete";
		URL url0 = new URL(pt_url0);
		HttpURLConnection connection0 = (HttpURLConnection) url0.openConnection();
		connection0.setRequestProperty("Content-Type", "application/json; charset=utf-8");
		connection0.setRequestPrope

[2021-02-14 02:19] rsmayda commented on #211
You would want the url to look like: DELETE https://uwiv2v70ia.execute-api.us-west-2.amazonaws.com/dev/Patient/1234￼

The DELETE in the beginning is the HTTP verb

[2021-02-14 02:25] fatemeh91 commented on #211
Then it returns me an 404 http request "Not Found "

[2021-02-14 04:47] nguyen102 commented on #211
Hi,

Your id is probably not `1234`. It should be in a `uuid` format. For example `b6addf75-f239-45e0-b262-52de197616c4`.

So you should be sending a DELETE request with a url that looks something like this
`https://uwiv2v70ia.execute-api.us-west-2.amazonaws.com/dev/Patient/b6addf75-f239-45e0-b262-52de197616c4`

[2021-02-14 05:04] fatemeh91 commented on #211
Hi,
I want to delete a patient record through his Encounter number (I declare  it in my patient recourse as Identifier). So I want to delete patient via its Encounter not the Id of the messages.

[2021-02-14 06:41] nguyen102 commented on #211
Ah, I see. In this case, it looks like you're trying to a [conditional delete](https://www.hl7.org/fhir/http.html#3.1.0.7.1).

"Unlike this rest of this page, the conditional create, update, patch and delete are trial use until further experience is gained with their use. Their status will be reviewed in a future version of FHIR."

The conditional delete is in trial use and we currently don't supp

[2021-02-14 07:32] fatemeh91 commented on #211
okay thank you

[2021-02-14 07:32] #211 closed, assigned to nobody

[2021-02-14 09:00] fatemeh91 opened #212 "sort based on lastUpdated"
Hi,
I have 3 entries with same name (ABC) and i want to sort them based on the lastUpdated and get the last one so i did:

String pt_url2 = " https://uwiv2v70ia.execute-api.us-west-2.amazonaws.com/dev/Patient?name=ABC&_sort=-lastUpdated&_count=1";
		URL url3 = new URL(pt_url2);//.openConnection();
		HttpURLConnection connection2 = (HttpURLConnection) url3.openConnection();
		connection2.setRequest

[2021-02-15 04:44] rhinozD opened #213 "SMART Backend Services: Server-to-server FHIR connections"
Hi AWS Team,
Thanks for implementing the SMART on FHIR.
1. As I can see that [SMART Backend Services: Server-to-server FHIR connections](https://hl7.org/fhir/uv/bulkdata/authorization/index.html) was not supported yet, isn't it?
2. Can you show me how to deploy `patientPickerEndpoint`? Can I use the endpoint I have deployed using [fhir-works-on-aws-deployment mainline](https://github.com/awslabs/f

[2021-02-15 05:06] rsmayda commented on #213
That is right, it is not supported. We are looking for customer feedback on server to server communications. We would love to learn of your use-case.

That Patient Picker Endpoint is used to get a Patient's launch context and the launch context is something that your Authorization server will handle. For an example Authorization Server implementation we recommend checking out [Okta's open source r

[2021-02-15 18:24] nguyen102 commented on #212
Hi,

We currently don't support the `_sort` parameter. Using `_sort` should return a 400 error with the body
[code]

Can you please confirm what version of FWoA you're running? You can check that by looking at the version number in "package.json".

The latest FWoA version is `2.4.0` with the commit sha `72f4fa23feb68456a924a013dd064beaf75f1b41`

[2021-02-17 15:20] #184 closed, assigned to nobody

[2021-02-18 00:51] rmharrison commented on #213
@rsmayda Would you be open updating and adding this diagram to the README of both branch `mainline` and `smart-mainline`?

**Context**

https://github.com/awslabs/fhir-works-on-aws-deployment/blob/55e9619c15d210290f643345d5c0f93b939d0854/README.md#prerequisites

This language is unclear to newcomers.
Indeed, without a (higher-level) component diagram in the main README.md, I don' think it will be

[2021-02-18 01:06] rmharrison commented on #212
@nguyen102 I foresee many of these "Does AWS FHIR Works support <x>?" questions. In anticipation, would you consider?

- good: Publishing a static CapabilityStatement with your release note [^1]
- better: Running a live reference implementation, so folks can hit the `metadata` and `.well-known/smart-configuration` endpoints themselves
  * Optional: Add yourself to the HL7 Confluence of test/refere

[2021-02-18 15:15] nguyen102 commented on #212
Thanks for the suggestion Harrison. We have discussed about hosting a public FHIR server, but have decided to punt that for now, because of the legal and security approvals required to host one. It's always great to hear from customers, and I will relay this feature request back to the team.

Maybe in the short term we can publish a static CapabilityStatement like you suggested.

[2021-02-18 17:58] nguyen102 commented on #213
Thanks for the detailed suggestions Harrison. Would you be willing to open a PR and contribute these changes to the community?

[2021-02-20 22:26] joekendal opened #216 "ResourceNotFoundException"
Having followed the steps in DEVELOPMENT.md, when running `serverless offline` and trying a `POST` request, I am greeted with the following exception:

[code]

These packages are definitely installed...

[2021-02-20 22:29] joekendal commented on #110
@Bingjiling have you developed your own Glue job for this transformation? We are looking to run an ETL on the DynamoDB FHIR to store it in S3 OMOP and are looking for an open-source implementation. Or we will just share ours in the end if not.

[2021-02-21 01:37] #216 closed, assigned to nobody

[2021-02-22 22:23] rsmayda commented on #191
With the above merges I believe we have addressed the issue here. Please re-open if needed!

[2021-02-22 22:23] #191 closed, assigned to nobody

[2021-02-23 16:06] rsmayda commented on #213
I will be working on this today, updating our docs

[2021-02-26 14:59] rsmayda commented on #213
Merged in new docs to the `smart-develop` branch. If you have further questions or improvements please let us know!

[2021-02-26 14:59] #213 closed, assigned to nobody

[2021-02-26 15:15] PrimKruskal opened #226 "[Feature Request] Patient $merge process"
Hello All,  Is there any plans for implementing patient Merge process.

https://www.hl7.org/fhir/patient.html#merge

Patient Merge/split is one of the frequently happening issue with HealthCare.

- John Smith’s record is created in the system with IOI id 12345 and Patient records get added in FHIR server with FHIR Patient “Resource id” as “abd5t-kiun4-u4li-d3rc”. Questions : Whether the same IOI “

[2021-03-01 05:37] rye442 opened #227 "AWS Solution Implementation: Search based on active field on patient api is not working"
Search based on active field on patient api is not working and it is returning zero results even though active data are available.

## Create Patient Request
[code]

## Request
[code]

## Results Body
[code]

## Note

I am following [FHIR Works on AWS Implemation Guide](https://docs.aws.amazon.com/ja_jp/solutions/latest/fhir-works-on-aws/automated-deployment.html) and using CloudFormation to launc

[2021-03-01 13:13] rsmayda commented on #227
Thanks for reaching out! Could you provide an example Patient resource you POSTed to the server? It will help in reproducing the issue

[2021-03-01 14:25] rsmayda commented on #226
Hey! This is currently not on our near-term roadmap. We would be happy to support a contributor building this feature via design reviews and PRs

[2021-03-01 14:33] rsmayda commented on #227
I was able to search on `active` on the latest GitHub build will need to deploy the AWS Solution version to confirm if behavior is the same there

[2021-03-01 21:52] Bingjiling commented on #227
Hi @rye442 , thanks for reaching out! I deployed AWS Solutions and was able to recreate the bug. AWS Solution build is not up to date with the GitHub build, in particular, this [update](https://github.com/awslabs/fhir-works-on-aws-search-es/pull/36) was not included, causing error with search parameter `active`. It is on our radar to bring the latest codes into AWS Solution build, however, we don'

[2021-03-03 06:23] rye442 commented on #227
Hi @rsmayda, Thank you for your quick reply and sharing the reproduced results in the GitHub build version!
As you requested, I have added Patient's example to this issue.

[2021-03-03 06:53] rye442 commented on #227
Hi @Bingjiling, thank you for your prompt reply and sharing the results of reproducing the code with the AWS solution build.

I understand that I should use the latest GitHub Build (which reflects [this bug fix](https://github.com/awslabs/fhir-works-on-aws-search-es/pull/36)). I am currently using Windows, am I correct in understanding that in this case I can build on AWS using the method describe

[2021-03-03 21:23] Bingjiling commented on #227
Hi @rye442, thanks for the update!

Yes, you can follow [this page](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/INSTALL.md#windows-installation) to deploy in Windows. And please let us know if you run into any issues.

I'll bring the request for updating AWS solution version to the team and see the nearest timeline we can fit it in.

Thanks again for your interest in FHIR

[2021-03-05 06:08] rye442 opened #233 "win_install.ps1 will raise an error stating that the 'StackName' parameter is not specified"
I'm currently trying a Windows installation of FHIRWorks using [this page](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/INSTALL.md#windows-installation) as a reference.

scripts/win_install.ps1 will raise an error stating that the 'StackName' parameter is not specified.

Is this the intended behavior?

## Run command
[code]

## error details
[code]

[2021-03-05 08:10] rye442 opened #234 "Error during win_install.ps1 execution - Lambda function is too large"
I am trying to use FHIRWorks with Windows Install. when I run scripts/win_install.ps1, I get the InvalidParameterValueException.

I checked #184 and #166 before writing this issue. ```npm prune``` and ```npm dedupe``` were also tried, but they did not solve the problem.

I was not able to try the following commands because there was no awk command in my environment.
```sudo npm list -g --depth=0.

[2021-03-05 08:29] rye442 commented on #227
Hi @Bingjiling, thanks for the reply.

I tried the Windows Installation but was thwarted by two problems. I have already registered an issue for this as #233 and #234.

I will continue to check the status of AWS solution version in this issue.

[2021-03-05 18:15] Bingjiling commented on #234
Hi @rye442 , thanks for sharing the details. I'll try recreating the issue on my end for Windows deployment. At the meantime, you could use [Docker installation](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/INSTALL.md#docker-installation) as a work around.

[2021-03-05 18:15] Bingjiling commented on #233
Hi @rye442 , thanks for sharing the details. I'll try recreating the issue on my end for Windows deployment. At the meantime, you could use Docker installation as a work around.

[2021-03-08 07:59] rye442 commented on #234
Hi @Bingjiling, thanks for the reply. I am going to try Docker installation.

However, keep in mind that even if I can Docker installation, it will not solve the problem of not being able to Windows installation.

[2021-03-08 15:11] Bingjiling commented on #234
Hi @rye442, thanks for the update. I recreated the issue with a Windows environment. We'll look further into the issue and keep you posted on the progress.

[2021-03-09 16:01] jeffbonasso-ambifi opened #238 "Does it support patient/[patientId]/$everything"
The spec has an operation for getting everything for a patient...
https://www.hl7.org/fhir/operation-patient-everything.html

I have tried to no avail. Is the $everything resource supported?

I have tried using search with key: _include:iterate, value: Patient:Observation also to no avail.

Is there an easy way to get all resources for a patient?

[2021-03-09 17:17] nguyen102 commented on #238
Hi,

We currently don't support the `everything` operation. Maybe you can try the `_revinclude` operation?
https://www.hl7.org/fhir/search.html#revinclude

You can use that operation to find all resources that references a Patient.

For example
`{{API_URL}}/Patient?name=Matt&_revinclude=*`

A test case

First create a Patient and an Observation referencing that Patient
[code]

Then search for that

[2021-03-09 17:40] jeffbonasso-ambifi commented on #238
Awesome. That worked great! Thank you.

[2021-03-09 17:50] #238 closed, assigned to nobody

[2021-03-09 21:55] segfahlt opened #239 "RE: Security Errors and Deprecation Warnings in latest branches"
Hey guys,

Looking to get this up and running at my company.  When I clone the latest and checkout any of these branches [Mainline, Aws Solution, Develop] and run npm install, I get a ton of deprecation warnings and severe security issues warnings.  There is no way my compliance department will buy off on that.

Any advice or fixes?

Thanks!

Here is a paste of some of the warnings/errors:

PS C:\

[2021-03-10 17:29] nguyen102 commented on #239
Thanks for bringing this to our attention. It looks like those warnings are from 2 of our dev dependencies: `serverless` and `serverless-offline`.

To see these security warnings you can run `npm audit`. The result are below.

[code]

 I've updated the `serverless` package as recommended. That'll remove the 2 high security warnings leaving us with just 1 moderate security warning.

Upgrading `serv

[2021-03-10 17:33] nguyen102 commented on #233
Closing this issue in favor of this issue.
https://github.com/awslabs/fhir-works-on-aws-deployment/issues/234

Steps for resolution will be discussed in that issue.

[2021-03-10 17:33] #233 closed, assigned to nobody

[2021-03-10 19:41] nguyen102 commented on #234
Hi @rye442 I currently have code in PR that might fix your issue.

https://github.com/awslabs/fhir-works-on-aws-deployment/pull/240

If you can try the code there.

Be sure to remove `serverless` and `node` that was installed through `choco`.

You can remove them using these commands
[code]

[2021-03-11 02:11] rye442 commented on #234
Hi @nguyen102, thanks for the reply. I tried it. It generally worked fine, but it produced two errors.

The first one is identical to #233. I got the following error message:
[code]

The second error is that Info_Output.yml does not exist after the deployment is completed. The error message is shown below:
[code]

At any rate, the fix-warnings branch FHIR Works is now working as intended on my AWS

[2021-03-11 02:33] nguyen102 commented on #234
@rye442 That's great! I'm glad it's working for you.
These two errors should really be warnings, as they don't affect the success of the script.
The first error on line 208 occurs because the script is calling Cloudformation to see if the FHIR Service has already been deployed. Since it hasn't been deployed yet, it prints out the error you mentioned. Line 209 uses the result from line 208 to decid

[2021-03-11 02:51] rye442 commented on #234
@nguyen102, Yes. It was printed out as an error, but since it was actually possible to continue, we assume that it did not affect the deployment operation. However, as you mentioned, I think it needs to be changed(e.g. using try-catch) to a warning as it may mislead the user.

[2021-03-11 04:08] nguyen102 commented on #234
Thanks for the suggestion @rye442  , we'll add this issue to our backlog, and will prioritize it accordingly.

I'll close this issue for now, since the original Bug reported in this issue is now resolved.

[2021-03-11 04:08] #234 closed, assigned to nobody

[2021-03-11 09:42] rye442 opened #242 "Search based on identifier.system field on Patient api is not working"
I tried to search for a patient by specifying the identifier.system in the Patient resource, but when I specify the system, it also returns unrelated patients.

## Request and Expected and Actual
The Expected and Actual is show the total value of the response (the number of patients that matched the condition).

|No.|Request|Expected|Actual|Result|
|:--:|--|:--:|:--:|:--:|
|1|GET {{API_URL}}/Patie

[2021-03-11 15:44] nguyen102 commented on #242
Hi,
It looks like for request 1 and 2, you're trying to do a `token` search. We currently do not support `token` search. We currently search using string matching.

[2021-03-11 16:36] nguyen102 commented on #234
@rye442 There was a recent bug fix that might  have impacted you. The fix is in `mainline` now, so please pull the latest change from `mainline` and redeploy.

More details here
https://github.com/awslabs/fhir-works-on-aws-deployment/pull/243

You can deploy by running in the root director of the project
`yarn serverless-deploy --region <REGION> --stage <STAGE>`

[2021-03-11 16:43] nguyen102 commented on #239
PR with security fixed merged

[2021-03-11 16:43] #239 closed, assigned to nobody

[2021-03-11 18:58] #194 closed, assigned to nobody

[2021-03-12 01:57] rye442 commented on #242
Hi @nguyen102, thanks for the reply.
Hmmm.... The ```token``` search is not supported....

Is there any way for me or other users to find out what search parameter type are supported by FHIR Works? In the Capabilities section of this repository, it only says "Search capabilities per resource type".
You said "We currently search using string matching.", do you mean that FHIR Works currently only su

[2021-03-12 23:23] SanketD92 commented on #227
Hello @rye442, since the issues you mentioned in your last response are now closed I wanted to touch base and see if you're unblocked to use FHIRWorks per your use-case.

Meanwhile, the bug for fixing this in the Solutions version of the product will be prioritized by the team soon, as @Bingjiling mentioned.

[2021-03-15 01:10] rye442 commented on #227
Hello @SanketD92, currently, I'm able to build FHIR Works with Windows Installation.

On the other hand, the version provided as an implementation of the AWS solution does not have the basic functionality shown as this issue, which caused my team to have strong doubts.

Therefore, I feel that it is very good news to give priority to this issue.

[2021-03-15 06:47] rye442 commented on #234
Hi @nguyen102, thank you for letting me know. I have applied it to my environment.

[2021-03-15 17:00] SanketD92 commented on #242
Hello @rye442, we can search on all fields that are specified in our Capability Statement, which is available at `fhirServer/metadata`. However, even if those fields are not strings we can still search on them (in such cases we use string matching instead of the actual types). For example, with dates we should parse it as a date, but we parse it as a string. We're working on supporting the data ty

[2021-03-16 03:07] rye442 commented on #242
Hello @SanketD92, thanks for letting me know the status of FHIR Works.

Our team considers it very important to be able to search for `Date` and `Token` (including `URI`) among the FHIR search parameter types shown on [this page](https://www.hl7.org/fhir/search.html) (followed by `Quantity`, `Number` and `Refelence`). I think it is important to support proper retrieval of data types when using the

[2021-03-17 16:01] asrour-vytalize commented on #165
Any updates on this?

[2021-03-18 01:40] #195 closed, assigned to nobody

[2021-03-19 02:26] rye442 opened #255 "Data of the wrong type can be registered. It can't be searched."
I believe that registering data of the wrong type should result in an error in the check during registration. And if we allow the registration of data of the wrong type, then we should be able to retrieve it in the GET resource as well. Am I wrong in my thinking?

## Detail
I first tried to register the following AllergyIntolerance And it was successful.
[code]

However, I was not able to get it i

[2021-03-19 17:58] rsmayda commented on #255
This issue is the same as https://github.com/awslabs/fhir-works-on-aws-persistence-ddb/issues/18. ElasticSearch indices are dynamically generated but once they are generated for a parameter the index is set.

In this example your first POST makes `coding` a string array, then in your second POST you are trying to save `coding` as a array of objects. This will fail in the ddbToEs sync lambda. To fi

[2021-03-22 01:42] rye442 commented on #255
Hi @rsmayda, thank you for your reply. Also, sorry about the duplicate issue.

Let me confirm to make sure that you have made the following statements in your references, is this situation still the same?

[2021-03-24 11:48] shrutivardhan1411 opened #261 "STU3 Json schema for Allergy intolerance and transactions results in Bad request error even with correct payload"
1.	**Allergy Intolerance**: The Category attribute is an array of enum values. The Json structure as described, does not allow to include {“category”: [“food”]} in payload. Since enum is a property of items, it should be included in items filed.
{
  "description": "Category of the identified substance.",
`{ "type": "array",
  "enum": [
    "food",
    "medication",
    "environment",
    "biologic

[2021-03-25 01:52] carvantes commented on #261
Hi,
Thanks for the very detailed report. I've submitted a PR to fix both issues. We'll be releasing the fix in the next few days.

[2021-03-25 10:11] AllanHodkinson opened #262 "aws-sdk dependency"
Hi,
Not sure if this has already been covered but in this component (and also the dynamo & search-es components) there is a dependency on the `aws-sdk` npm package.  Is this removed during the `serverless` build process or will it be in the zip file that is deployed?  I'm wondering what impact this makes on the zip package size?
I think this becomes less of an issue when the V3 sdk is rolled out f

[2021-03-25 12:22] ghost commented on #165
Thanks for the interest - our team is wrapping up work on this and hope to have a PR up in the near future

[2021-03-25 17:32] asrour-vytalize commented on #165
Can you share the code/branch?
Because I am working on a solution for us.

[2021-03-29 09:24] carvantes commented on #262
Hi,

The zip file will indeed include the `aws-sdk`. This is expected behavior.

The aws-sdk is used by the persistence package to call DDB, S3, etc. The deployment package uses it for a few minor things related to bulk export([uploadGlueScriptsToS3.ts#L7](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/bulkExport/uploadGlueScriptsToS3.ts#L7))

It looks like the search packag

[2021-03-29 09:32] AllanHodkinson commented on #262
Hi,
Is there a reason why `aws-sdk` is packed into the zip file - it is already available in the default Lambda layer when the function executes so doesn't need to be there?
Thanks,
Allan

[2021-03-29 09:40] carvantes commented on #262
For apps in production it is a good practice to bundle the aws-sdk in order to pin it to the exact version that you are using to build and test your code.

[2021-03-29 11:28] AllanHodkinson commented on #262
Yes that is a good point.
Looking at it pragmatically though the version of `aws-sdk` provided by the Lambda layer will always be 2.x.x so it is very unlikely that there will be a breaking change if semver is correctly followed by the sdk team.
Plus the dependency in each of the package.json files is specified using `^` so the minor & patch versions of the sdk used during fhirworks component test

[2021-03-30 09:09] carvantes commented on #262
A breaking change is unlikely indeed, but there may be still be subtle changes in the sdk behavior. The recommended best practice is to fully control the dependencies in your function's deployment package.
https://docs.aws.amazon.com/lambda/latest/dg/best-practices.html#function-code

The `yarn.lock` file pins all packages to a specific version that fulfills the version ranges from the `package.js

[2021-03-30 11:30] shrutivardhan1411 opened #273 "Question - Allow multiple values for search parameters in a GET request"
We want to support for allowing multiple search values for a couple of search parameters such as Patient.Identifiers and Patient.Name
As part of FHIR specs(https://www.hl7.org/fhir/search.html#composite), single parameter with multiple values must be separated by a comma.
How to distinguish between the values that might have a comma in them?
For Example:  name in (user1, user2) versus name in ("**

[2021-03-31 00:23] carvantes commented on #261
Hi, the fix has been released.

The fix is part of [fhir-works-on-aws-routing@5.1.0](https://github.com/awslabs/fhir-works-on-aws-routing/releases/tag/v5.1.0) and the deployment package has been updated to use [the latest version of fhir-works-on-aws-routing](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/9daa3d88ae8a6e33064fdcea77843b53b7d4d3c0/package.json#L44)

[2021-03-31 00:23] #261 closed, assigned to nobody

[2021-03-31 19:09] SanketD92 commented on #273
Thank you for your question, @shrutivardhan1411.

Currently FHIRWorks on AWS does not support searching for a single parameter with multiple values separated by a comma. I've opened a backlog ticket for the team to work on it according to feature priority. Once completed, the escape mechanism would work similar to the one specified [here](https://www.hl7.org/fhir/search.html#escaping).

[2021-03-31 22:05] SanketD92 commented on #273
Thank you for this question @shrutivardhan1411.

Currently we do not support escape mechanism as mentioned in the FHIR [specs](https://www.hl7.org/fhir/search.html#escaping) in our search API call, but we'd like to understand your use-case better.

I'm assuming you're planning to use the search patient API to filter users based on specific params (eg. name). If so, does this example better fit you

[2021-04-01 06:22] shrutivardhan1411 commented on #273
@SanketD92  The result here is not correct as currently Partial search for names is not supported.

if I change the search API call to `{{API_URL}}/Patient?name=Doe, Mary, Smith`  then the result should return [Patient 1, Patient 2].
**Comma in** "Doe, Mary" is a part of the search value.
Input received at backend` {name: ["Doe, Mary, Smith"]} `which will be interpreted as 3 separate values for se

[2021-04-01 09:07] AllanHodkinson commented on #262
OK how about this as an approach:
If the FWoA sub components (persistence-ddb, search-es etc) are made independent of `aws-sdk` then we can follow best practice by including the sdk in the deployment component.
And then if a developer chooses to use the built in `aws-sdk` (and accept the potential pitfalls of this), they can do this by not including it in the deployment component.

[2021-04-01 14:16] lwarren01 commented on #129
Any status update you might be able to provide here? We were also able to reproduce the issue. We were wondering if it has to do with the name of the field. The search parameter and the field name stored in ES don't match, "birthdate"  vs. "birthDate". Looking at the ES query, we can see that it is providing the name of the search parameter:

`
GET patient/_search
{
    "query": {
        "bool":

[2021-04-01 15:42] SanketD92 commented on #273
Thank you for confirming your use-case, @shrutivardhan1411.

We have created a backlog item for this to work toward which will be factored in by priority.
Let us know if you deem this requirement urgent.

[2021-04-02 13:38] shrutivardhan1411 commented on #273
@SanketD92 It will be great if this feature is added. However we are thinking to customize this at our end for now. It would be helpful if you could share insights on interpreting the input that has a comma in the search values as discussed above.

Thanks in advance!

[2021-04-02 19:08] SanketD92 commented on #273
@shrutivardhan1411 we'd love to help you customize this feature to your needs.

The search query is formed [here](https://github.com/awslabs/fhir-works-on-aws-routing/blob/b57b54c7ee0ef67799a14ffb6bc66a7e25977659/src/router/handlers/resourceHandler.ts#L74) on the routing package, which is then sent over to the elastic search service.

This [file](https://github.com/awslabs/fhir-works-on-aws-search

[2021-04-05 01:47] rhinozD opened #281 "Question - Custom resources meta.tag"
Hi AWS Team,
Thanks for implementing FHIR Works.
I want to add custom meta.tag when I POST a resource.
I just saw meta.lastUpdated and meta.versionId automatically generated after registration.
Does FHIR Works support custom meta.tag (and meta.security)?
If already supported, please show me how to.

Thanks in advance for any help you are able to provide.

[2021-04-05 10:29] shrutivardhan1411 commented on #273
Thanks!! @SanketD92

[2021-04-05 10:29] #273 closed, assigned to nobody

[2021-04-05 13:06] rashedoumar commented on #165
hey @medhost-bfindeisen   you are doing a great job here , what's the update on the Multi-tenancy  ?

[2021-04-05 18:13] rsmayda commented on #281
We currently do not support additional meta elements but we are - Working on this now!

[2021-04-05 18:15] rsmayda commented on #281
Duplicate of: https://github.com/awslabs/fhir-works-on-aws-persistence-ddb/issues/60

[2021-04-05 18:15] #281 closed, assigned to rsmayda

[2021-04-08 15:53] rsmayda commented on #262
Risk here will come from versioning `ddb` and `es` components, as say version 1 of  `ddb` requires aws-sdk of 2.5 and `ES` requires 3.2 and then the deployment package dictates aws-sdk of 3.4. This will lead to either breaks or inconsistencies if the sub packages can't declare their own dependencies.

By default we want each FWoA packages to have all the dependencies they need. That said if the de

[2021-04-08 16:34] AllanHodkinson commented on #262
Hi Robert,
Yes I totally agree with what you are saying here, it is best to have full control of your dependencies.

My main rationale behind not wanting the `aws-sdk` inside the zipfile is to reduce package size to achieve better cold start performance, as I believe that this is the most significant factor in slow start ups.

I'm taking a pragmatic line here rather than following textbook - I don

[2021-04-08 16:34] #262 closed, assigned to nobody

[2021-04-08 16:59] rsmayda commented on #255
Yep this is still accurate!

[2021-04-08 16:59] #255 closed, assigned to nobody

[2021-04-08 17:47] rsmayda commented on #262
+1 yeah I think migrating to v3 will be a good middle ground :)

[2021-04-12 13:14] rsmayda commented on #129
In our most recent release we fixed a lot of date related search issues: https://github.com/awslabs/fhir-works-on-aws-deployment/tree/v2.6.0

Could you ensure you are using the latest versions? If issues persist please reopen this issue 😄

[2021-04-12 13:14] #129 closed, assigned to nobody

[2021-04-12 13:15] rsmayda commented on #242
In our most recent release we added token search enhancement: https://github.com/awslabs/fhir-works-on-aws-deployment/tree/v2.6.0

Could you ensure you are using the latest versions? If issues persist please reopen this issue 😄

[2021-04-12 13:15] #242 closed, assigned to nobody

[2021-04-16 13:26] Zambonilli opened #290 "Archiving Support"
I have privacy requirements that some of a patient's online data is archived offline after 6 months for a period of 10 years. Specifically, the AuditEvent resource where the entity is a patient. Looking through the code, I think there's 2 paths that make sense but want to double check that I'm not missing a better way to implement archiving. Ideally, I'll be doing a PR from my fork here as well.

[2021-04-19 15:39] nguyen102 commented on #290
Option 2 looks like a good choice. As you mentioned, you can set the TTL field to have the AuditEvent expire after 6 months. When it expire, this will kick off a DDB Stream event. We currently have a lambda function called ddbToEs. This lambda functions propogate changes from DDB to ES. In conjunction to that responsibility you can edit the lambda function to send batches of DELETES to Firehose. F

[2021-04-19 16:27] Zambonilli commented on #290
Thanks for the feedback @nguyen102! I'll start down the path of DDB TTLs with firehose and store a uid -> archive files[] and let you know if I hit any troubles.

[2021-04-19 18:01] nguyen102 commented on #290
Sounds good @Zambonilli. In that case, I'll close this issue for now. Feel free to open another issue if you have any more questions.

[2021-04-19 18:01] #290 closed, assigned to nobody

[2021-04-20 17:30] phackwer opened #292 "Errors running install"
On Linux Ubuntu 20.10, dist-updated last 12/04/21 after all dependencies were solved (minor problem between node-js and node-doc manually solved by running

[code]

I've ended up with 3 errors

[code]

and

`Serverless plugin "serverless-step-functions" not found. Make sure it's installed and listed in the "plugins" section of your serverless config file.`

![image](https://user-images.githubuserc

[2021-04-20 17:38] phackwer commented on #292
Manually ran

[code]

Now I have

![image](https://user-images.githubusercontent.com/4871786/115440444-a2849200-a207-11eb-8a27-e1227c8fa47b.png)

[2021-04-20 17:42] phackwer commented on #292
ran
[code]

and now gotta

![image](https://user-images.githubusercontent.com/4871786/115440780-08711980-a208-11eb-96ab-5e03302b49d4.png)

Seems to me that dependencies were not installed by the script.I will try to map all of the missing dependencies here, ok? Hope that helps.

[2021-04-20 17:55] phackwer commented on #292
Ok, seems that the cause of the problems was Yarn. For some reason the yarn I had here was why I had those messages here:

[code]

I've ran
[code]

manually and it is now working. I've ran yarn --version and got 0.32+git as response before removing it. Now I've got yarn --version 1.22.10. I don't use Yarn so I'm unsure where this yarn I had came from, but seems that a version check on yarn would a

[2021-04-20 20:14] phackwer commented on #292
Obs: had an infinite loop on a password setting. Had to CTRL+C as there is no info on where this is happening. Some feedback on this would also help. Left it running for over 2 minutes and no return that I could debug. If I only knew where to set this password, would help a lot.

![image](https://user-images.githubusercontent.com/4871786/115458251-652aff00-a21d-11eb-90aa-1625b0449e43.png)

[2021-04-20 20:59] nguyen102 commented on #292
Looking at the code, it looks like the error is caused by this step
https://github.com/awslabs/fhir-works-on-aws-deployment/blob/12ea6bfe0a2953caa2bd567b560fcda1c8747ce2/scripts/install.sh#L355

It looks like at this step the FHIR Server has been successfully deployed, so you should be able to start using it. You will need a Cognito user to log in though.

You can follow the instructions [here](ht

[2021-04-20 22:37] nguyen102 commented on #292
Hmm, I tried to reproduce the issue by launching a new Ubuntu 20.04 instance (ami-0ca5c3bd5a268e7db). From that instance, it was able to complete the install process from start to finish. I wonder if your system, might have inadvertently have `yarn` installed already by another piece of software. The command in the `install.sh` script that installs yarn is `sudo $PKG_MANAGER install yarn -y`, whic

[2021-04-21 07:28] phackwer commented on #292
Oh, ok, I've found my error. :-D I've piped "yes | ./script/install..."...

[2021-04-21 07:30] phackwer commented on #292
Yeah, it got solved when I removed and reinstall yarn. Maybe a version check would be nice.

Anyway, most of the problems were my environment, so, I'm closing the issue. Only suggestion I can give is to check the yarn version as it lead to all types of "missing packages" errors and I had the wrong impression that the script was not getting it.

Cheers.

[2021-04-21 07:30] #292 closed, assigned to nobody

[2021-04-21 08:53] phackwer opened #293 "Info_Output.yml is full of deprecation notices from Serverless"
Hi,

Although it's manually easy to solve, there are deprecation notes from Serverless being written in Info_Output.yml.

![image](https://user-images.githubusercontent.com/4871786/115525918-73156a00-a287-11eb-81da-24100356ebec.png)

[2021-04-21 08:56] phackwer commented on #293
I'm assuming it's safe to delete up to line 25, correct?

[2021-04-21 16:37] nguyen102 commented on #293
Yep, you're correct. You can delete all of the warning lines. I've added a PR to fix this issue in the install script
https://github.com/awslabs/fhir-works-on-aws-deployment/pull/294

[2021-04-21 20:00] #293 closed, assigned to nobody

[2021-04-21 20:30] phackwer commented on #293
Thanks. Cheers

[2021-04-23 15:11] Zambonilli opened #297 "[Feature Request] Subscriptions Support"
Is [subscriptions](https://www.hl7.org/fhir/subscription.htm) support on the roadmap? Seems like it would match up nicely with SNS.

[2021-04-23 19:59] nguyen102 commented on #297
Hi, Zambonilli.

Subscriptions is in our backlog, but is not currently on our near term road map. Can you provide more details about your use case for subscription and it's urgency?

This will provide us with an additional data point on customer needs, and will help us prioritize our back log items to reflect that.

[2021-04-23 20:58] Zambonilli commented on #297
Sure, no problem.

The short term need is for syncing up other internal systems through a strongly typed application level API. For example, syncing up our internal BI and data lakes via subscriptions would be better than using dynamodb Change Data Capture because we can keep an API that talks FHIR between the systems. Not a show stopper but as more FWoA internal bits get added to dynamoDB the mor

[2021-04-27 04:08] rhinozD opened #301 "Not able to search resource identifier exactly."
Hi FHIR Works Team,
I tried to:
`GET /Patient?identifier=testuser01@gmail.com`
and there is only one patient with `identifier = testuser01@gmail.com`.
I expect it to return one result, but it returns many more.

Is this a bug?
Deployed fhir-works-on-aws-deployment version: v2.6.0

[2021-04-27 15:42] nguyen102 commented on #297
This was very helpful. Thanks for those detailed use case. I'll add this information to our backlog ticket for subscription. I'll update this issue when I have more information on when we can start working on subscription.

[2021-04-28 02:59] carvantes commented on #301
Hi,

Thanks for the detailed report. We have identified the issue and are working on fixing it.

Turns out that the `identifier` param was resulting in text search queries instead of exact text matching.
e.g. `testuser01@gmail.com` was analyzed into words before searching: `testuser0`,`gmail.com`. This ended up matching unwanted records with a `gmail.com` address

[2021-04-28 18:04] phackwer commented on #165
In FHIR, the Patient Resource has "Assigner".

https://www.hl7.org/fhir/datatypes.html#Identifier

Use this. Have fun

[2021-04-28 18:08] phackwer commented on #165
https://www.hl7.org/fhir/datatypes.html#Identifier

You don't need "multi-tenancy". If this is really required you can have as many installs as required for each of your "tenants" to be isolated.

[2021-04-28 18:10] phackwer opened #303 "Cognito App Client is not created with a secret"
After running install I've noticed the Cognito App Client has no Secret to it. Please, add secret on this for better security, as this would require us to hash the secret and then hash it with the client to get the correct SecretHash/SECRET_HASH value for the Cognito API

[2021-04-28 18:12] phackwer commented on #303
PS: Secret can be acquired from the Cognito AWS Console, but having it on Info_Output.yml would be handy

[2021-04-28 19:12] carvantes commented on #301
We just released fhir-works-on-aws-search-es@2.5.1 that includes the above fix.

We'll be updating the deployment package later this week as well, but you can upgrade to the latest fhir-works-on-aws-search-es if you need the fix asap.

[2021-04-29 07:35] carvantes commented on #303
Hi,

We decided to default to a User Pool App Client without a secret for flexibility. Clients with secrets are notably not a good fit for browser-based applications.

It is good practice to have multiple App Clients, one per application. e.g. you could have an App Client without secret for a FHIR web application, and another App Client with secret for a mobile application.

I'd suggest that you c

[2021-04-29 07:38] phackwer commented on #303
Ok. In our case browser and apps won't talk to any of the FHIR components directly, so this is why I thought this could be a problem. I'm closing this issue, happy with the comment. Cheers!

[2021-04-29 07:38] #303 closed, assigned to nobody

[2021-04-29 09:09] phackwer opened #304 "Search for multiple identifiers"
Hi,

In our system we will have patient data coming from multiple different systems. We can try to manage this through the managingOrganization attribute, but we also would like to be able to search for multiple identifiers. I've tried sending a comma separated list and it didn't work. Also tried "php style" array (?identifier[]=...&identififier[]=...) which ended up causing a 500 error.

Since in

[2021-04-29 09:15] phackwer commented on #304
Oh, found a way...

The multiple identifiers must be separated by comma and space.

Like https://......execute-api.eu-west-1.amazonaws.com/dev/Patient/?identifier=9........5, 9........3

They also can be placed inside brackets, no problem there, but if you don't put the space, it won't work. My problem was I've missed the space.

Now my problem is different: how can I get the result as an AND and

[2021-04-29 09:20] phackwer commented on #304
I'm trying the search as defined in the FHIR 4 spec and it doesn't work.

https://www.hl7.org/fhir/search.html

![image](https://user-images.githubusercontent.com/4871786/116530253-bc903580-a8d5-11eb-8291-8d7f1497be21.png)

![image](https://user-images.githubusercontent.com/4871786/116529109-7ab2bf80-a8d4-11eb-9692-63ca720f4e8e.png)

[2021-04-29 09:26] phackwer commented on #304
Ok, now I've got confused, hahaha. I've tried to use the | between the identifiers and all I've got as answer was...

1

:-)

![image](https://user-images.githubusercontent.com/4871786/116529865-4b508280-a8d5-11eb-8667-e56b2419c031.png)

[2021-04-29 09:28] phackwer commented on #304
Is there any documentation on AWS FHIR Works search available? The Postman Collection seems not to cover the options and not all the FHIR specification is implemented yet. If we could know how far the search implementation has gone it would help us a lot to avoid errors using it.

Thank you

[2021-04-29 15:02] #301 closed, assigned to nobody

[2021-04-29 15:26] rhinozD opened #305 "Get wrong response when POST resource with reference by using Bundle Endpoint"
Hi FHIR Works Team,
I tried to use Bundle Endpoint to POST Observation resource with subject and device reference.
Here was my request body:
[code]
I got an error: `"Cannot read property 'length' of undefined"`.
When I changed subject and device to:
[code]
it worked; I could POST Observation using Bundle Endpoint.
BUT when I make a GET Observation request by the id of Observation resource that was

[2021-04-30 00:02] carvantes commented on #304
Hi,

you are right in that searching by multiple identifiers should be done by using commas:

e.g. `GET [base]/Patient?identifier=id1,id2,http://acme.org/patient|2345`

However, we currently do not support the OR operator(`,`) so the queries will take the comma literally as part of the identifier and lead to unexpected results.

https://www.hl7.org/fhir/search.html#composite

---

Searching for pa

[2021-04-30 00:52] carvantes commented on #304
The `:not` modifier is not currently supported.

---

Sorry, currently there is none. We've got similar feedback from other customers and we have plans to add better documentation to this package soon.

[2021-04-30 13:46] phackwer commented on #304
Ok, this answered a lot. :-) Thanks for this. Closing this and waiting for the documentation and/or the complete search implementation as defined by FHIR. Cheers

[2021-04-30 13:46] #304 closed, assigned to nobody

[2021-04-30 19:16] Zambonilli commented on #290
@nguyen102 I have the code and infrastructure changes required for archiving completed in my personal forks of interface, routing, persistence-ddb and deployment. I'm not sure how you normally merge PRs going across repos since there are module dependencies here. So, I started by opening a PR for the interface and updated all dependencies to use git URLs to my fork. We can cascade downwards here a

[2021-04-30 21:14] carvantes commented on #305
Hi,

Thanks for the detailed bug report. It looks like there are 2 separate issues:

first, your Bundle entry is missing a `fullUrl`. The use of relative references in a Bundle entry without a fullUrl is a bit of a gray area in the FHIR Spec. https://www.hl7.org/implement/standards/fhir/bundle.html#references

Validation using the [FHIR Validator](https://www.hl7.org/fhir/validation.html#jar) outr

[2021-05-01 15:09] Zambonilli commented on #297
Since subscriptions are pretty core to FHIR but the implementation is a beast, can the community help with some of the more independent and tricky bits? If I play out the psuedo code in my head for the implementation, 3 independent and tricky spots jump out.

1. typescript/javascript way to evaluate all subscription's criteria against resources when writen -This seems like the most challenging due

[2021-05-03 20:40] luisberga opened #309 "How can I get the lastN observations?"
I'm trying to use the LastN Operation in my rest request, something like `{{API_URL}}/Observation/$lastn`, but i get the following error:

`{
    "resourceType": "OperationOutcome",
    "text": {
        "status": "generated",
        "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><h1>Operation Outcome</h1><table border=\"0\"><tr><td style=\"font-weight: bold;\">error</td><td>[]</td><td><pre>

[2021-05-03 21:06] rsmayda commented on #309
As `$lastn` is still in trial use and hasn't been moved to the normative status, we haven't prioritized supporting this operation. To get a better grasp on what FHIR Works support I suggest hitting the `/metadata` endpoint to get the capability statement.

For our planning purposes could you let us know how important this operation is for your success?

Context:
- https://www.hl7.org/fhir/observat

[2021-05-03 21:56] luisberga commented on #309
Hello!

My need is always to show the last data from the observation resource when making the REST request. Would you have any idea how to do it without having the $ lastN operation?

For example, in the Observation me resource I have N records. I need to make the REST request and get the latest one.

[2021-05-04 15:25] phackwer opened #313 "Alternatives to DynamoDB"
Hi, is there an easy alternative to DynamoDB in the current setup? Is it possible to replace it to use a MongoDB server or any other similar document db? We would like to block access to the Items tab on the DynamoDB even to Root Admins on the AWS Console, is it possible?

[2021-05-04 17:43] gopalp19 opened #314 "Accessing FHIR API from another API"
Hi,
My team has built an API that directly accesses resources from the FHIR Works API. We're currently using the default FHIR Works implementation and have been generating Cognito tokens in our API to interact with the FHIR API. Our API will be accessible from a front-end and have it's own IDP and auth protocol. Is accessing the FHIR API (using Cognito) from another API a recommended approach or i

[2021-05-04 18:47] rsmayda commented on #309
I would look into using the `_sort` field as describe by [FHIR](https://www.hl7.org/fhir/search.html#sort) and the `_lastUpdated` parameter to get the most recent results.

We recently added support for sort too: https://github.com/awslabs/fhir-works-on-aws-search-es/commit/a7d9bf02228cf6d2b0efd5de608cd3ee4b5b3089

[2021-05-04 18:53] rsmayda commented on #313
Probably the next "easiest" implementation is to switch DynamoDB to S3 or perhaps Mongo. Effectively you would want to re-create the https://github.com/awslabs/fhir-works-on-aws-persistence-ddb package to fit the data store you have in mind (implementing this interface: https://github.com/awslabs/fhir-works-on-aws-interface/blob/mainline/src/persistence.ts).

Two off the top of my head:

1. you co

[2021-05-04 19:00] rsmayda commented on #314
I would definitely recommend running any security related changes to your security leads, but for some ideas this is probably the best place to start: https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-control-access-to-api.html

For system to system communication the Cognito approach maybe overkill, but that depends on if the FHIR Works server should "trust" the calling servi

[2021-05-05 06:00] carvantes commented on #305
Hi,

Both fixes have been released as part of `fhir-works-on-aws-routing@5.2.1`

Thanks again for reporting the issue.

[2021-05-05 06:00] #305 closed, assigned to nobody

[2021-05-05 17:03] phackwer commented on #313
Hi Robert, thanks for this reply. So, in summary, out of the box there is no replacement? How would the replacement by MySQL or PostgreSQL affect the indexing of content done by ElasticSearch? What exactly is involved on writing the new component? Is it just following the provided interface and do the inner coding for the persistence? Would it work transparently for the REST api for the resources?

[2021-05-05 17:14] rsmayda commented on #313
Yep that is right out of the box no replacement

If an insert into these databases could "trigger" the sync lambda I believe you could still use this approach (writing your own [sync](https://github.com/awslabs/fhir-works-on-aws-persistence-ddb/tree/mainline/src/ddbToEs)). Another note: the reason for FHIR Works using ES is that Dynamo is not searchable. Since you are looking at a RDS you could al

[2021-05-06 22:01] luisberga commented on #309
Ok! Thank you =D

[2021-05-06 22:13] luisberga opened #315 "Best way to show fhir data from fhir works api in real time on a dashboard"
Goodnight!

I need to show the coming data (like values from Observation resource) from the FHIR WORKS api on a dashboard, in real time...

I saw that Grafana has the SimpleJson plugin, but it is necessary to change the api gateway of the FHIR WORK solution. I didn't see opportunities in quicksight, either.

How could I send data from an AWS FHIR server resource to a real-time dashboard? Would you

[2021-05-06 22:14] #309 closed, assigned to nobody

[2021-05-07 01:53] rsmayda commented on #315
If you want more system level metrics (number or POSTs, Writes to DB, etc) CloudWatch is your best bet. But if you want to a dashboard of real-time real patient data...

Just a quick caution you may be sharing PHI (be careful)! Assuming that is what you want to do you could add write these events to an SNS topic and that topic can then be used/read in many different ways (almost like a pub/sub)

[2021-05-07 03:01] rhinozD opened #316 "Does POST Search not support _count and _getpagesoffset?"
Hi AWS FHIR Works Team,
`_count` and `_getpagesoffset` are the query params of GET Search. It works well.
When I try to add `_count` and `_getpagesoffset` to the body of POST Search,
`POST /Patient/_search` with body:
[code]

 it returns an error like below:
`"Invalid search parameter: '_count'"`
`"Invalid search parameter: '_getpagesoffset'"`

Does POST Search not support` _count` and `_getpageso

[2021-05-07 03:05] rhinozD commented on #316
sorry, it was my mistake.
I have to using string values for `_count` and `_getpagesoffset`.
[code]

[2021-05-07 03:05] #316 closed, assigned to nobody

[2021-05-07 04:21] nguyen102 commented on #315
If you're building the dashboard yourself, another option is to use the [setInterval](https://www.w3schools.com/jsref/met_win_setinterval.asp) function to repeatedly call the FHIR API. Doing this will allow you to get updated data from the FHIR server based on the time interval that is set.

[2021-05-07 12:39] luisberga commented on #315
Hello!

In my case, I want to build a real-time dashboard with patient data. Since it's a real-time dashboard, I need to retrieve data directly from FHIR API, making a rest requisition. This will be my data source.

What you guys think about the Kafka Superset?

Thank you.

[2021-05-07 13:06] lindenquan opened #317 "S3 buckets do not have server side encryption"
After deploying the FHIR, all S3 buckets have server side encryption except one "fhir-service-dev-fhirbinarybucket".  Could you make sure all buckets have server side encryption?

I'm also curious why there are multiple binary/log buckets.  Could it be possible that if a bucket is created dynamically by lambda function, then it could not have enabled server-side encryption ?
Thanks

[2021-05-07 13:19] rsmayda commented on #315
I honestly don't know much about Kafka or Superset but a quick read: https://medium.com/streamthoughts/how-to-build-a-real-time-analytical-platform-using-kafka-ksqldb-and-clickhouse-bfabd65d05e4. It seems to be event processing (similar to SNS/SQS) and I don't see why that wouldn't work.

A question you should figure out is how "real-time" this dashboard needs to be, the closer to true real-time t

[2021-05-07 17:48] rsmayda commented on #317
Binary buckets do have a CMK SSE: https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/serverless.yaml#L338

[2021-05-07 18:02] DanGrund opened #318 "updating deployed version"
I initially deployed using the cloud formation template linked from the [aws docs](https://docs.aws.amazon.com/solutions/latest/fhir-works-on-aws/aws-cloudformation-template.html), which is labeled as 'latest', but seems to be pointing to  v2.1.3 line 58: `"S3Key": "fhir-works-on-aws/v2.1.3/fhir-service.zip"`. I need to incorporate a fix that's in v2.6.0, but can't find a template that points to t

[2021-05-07 19:01] lindenquan commented on #317
Thanks for quick replying. I found the root cause. Destroying fhir-service at CloudFormation console doesn't delete s3 log and binary bucket, but deletes associated keys. And these buckets are displayed with no service side encryption.

As you pointed out, it did create buckets with server-side encryption.

[2021-05-07 19:02] lindenquan commented on #317
It would be great if destroying would delete all buckets. But this issue I opened up can be marked as resolved. Thanks again

[2021-05-07 19:26] rsmayda commented on #317
Yep 100% agree -- This feature is a Cloud formation setting, and is there to protect customer data (prevents accidentally deleting important information)

Can learn more here: https://stackoverflow.com/questions/40383470/can-i-force-cloudformation-to-delete-non-empty-s3-bucket

[2021-05-07 19:26] #317 closed, assigned to nobody

[2021-05-07 19:30] rsmayda commented on #318
Hey Dan!

Thanks for reaching out and sorry for the confusion the AWS Solution page is unfortunately out of date with our main GitHub repository. To get the newest code we recommend following the GitHub related installation guide: https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/INSTALL.md

[2021-05-07 20:46] #318 closed, assigned to nobody

[2021-05-10 13:18] luisberga commented on #315
Helo!

Thanks for the suggestions.

I chose to use Grafana and make a REST request to the FHIR server as a database.

A doubt... I am viewing the data on the dashboard through a query in the request URL to obtain the data every five minutes, that is, the data "now" until five minutes later.

I'm using the _count feature to limit the number of records to a maximum of 10000, which is the maximum tha

[2021-05-10 20:04] Zambonilli commented on #313
You might be able to replace dynamoDB with ScyllaDB with minimal code change to the existing dynamoDB persistence implementation. However, you're on the hook for building and maintaining the scyllaDB cluster.

https://www.scylladb.com/

[2021-05-11 14:22] nguyen102 commented on #315
At this time we do not support showing more than 10,000 records. We use ElasticSearch to search for data and by default this is the limit ElasticSearch places on the search request. I would be careful of trying to query for more than 10,000 records as that might cause performance issue on your ES cluster.

[2021-05-12 18:53] phackwer opened #323 "When I post a Patient data and then try to put update, I get 400 even using the same data"
We are usi ng a fake patient data to develop using FHIR Works and we can successfully post the data (insert), but when we try to upate the patient (we updated the name for the test), all we have is a 400 error.

Here is the fake/mocked data:

[code]

[2021-05-12 19:23] phackwer commented on #323
Found the problem. The DynamoDB UUID must be in the url and in the json.

[2021-05-12 19:23] #323 closed, assigned to nobody

[2021-05-12 21:29] jmrah opened #324 ""GET Patient/{ID}" response payload not encoded in UTF-8."
I have a FHIR Patient resource in my system, with name `Rafael239 Nevárez403`.  When I make a GET request for him by ID, I receive back a garbled `á` character, as seen in the example below:

[code]

However, when I query for him by attributes, I get back a correctly encoded `á` character:

[code]

I have tried setting an `accept: application/json;charset=utf-8` header in the first case, but with

[2021-05-13 13:36] luisberga commented on #315
Understood... Is there a way to query the URL with code.coding.display?

[code]

I'm trying to query like `{{API_URL}}/Observation?code.coding.display=O2`, but it shows the following error:

`Invalid search parameter 'code.coding.display' for resource type Observation`

[2021-05-14 14:35] luisberga opened #327 "Can't query Device Reference."
I'm trying to query the device reference:

[code]

like this:

`{{API_URL}}/Observation/?device.reference=urn:uuid:78daaf8b-e509-4bfd-abed-b45cfefccfaf`

But I'm getting the following error:

[code]

Am I doing something wrong? This feature to query device reference is already included? I am working on a project that is necessary to query by device and is crucial for success.

Thank you!!

[2021-05-17 13:04] #315 closed, assigned to nobody

[2021-05-17 13:05] luisberga commented on #327
Hello!

I changed the "device" for "subject" and query like this:

`{{API_URL}}/Observation/?subject=urn:uuid:78daaf8b-e509-4bfd-abed-b45cfefccfaf`

It works and seems to be the correct way with [FHIR documentantion](https://www.hl7.org/fhir/search.html#reference).

Thank you!!

[2021-05-17 13:05] #327 closed, assigned to nobody

[2021-05-17 14:01] luisberga opened #329 "Search for exactly subject reference"
I was testing a feature in FHIR Server... For example, If I have only have 2 records with reference `Device/03684ba8-a2aa-4096-a848-61af6305fb58` and 38 records with reference `Device/03684ba8-a2aa-4096-a848-61af6305fb59`.

When I do the following query:

`{{API_URL}}/Observation/?device=Device/03684ba8-a2aa-4096-a848-61af6305fb58`

I get the response of 40 records, including the 2 records of `Dev

[2021-05-17 15:41] luisberga commented on #329
For example, my body request could be:

[code]

[2021-05-19 20:46] luisberga commented on #329
I'm trying to query display, too:

[code]

But I can't, either... Please, could you help me?

Thank you

[2021-05-21 16:39] carvantes commented on #329
Hi,

the query `{{API_URL}}/Observation/?device=Device/03684ba8-a2aa-4096-a848-61af6305fb58` is correct. There was a bug where querying for references was using full text search instead of exact string matching and that lead to unwanted search results as you described.

The fix is https://github.com/awslabs/fhir-works-on-aws-search-es/pull/74 and will be part of the next release

[2021-05-21 16:50] carvantes commented on #329
I believe that the correct syntax to query `display` within a code would be `{{API_URL}}/Observation?code:text=02`, but the `:text` modifier for token parameters is not currently supported in FHIR Works.

Would you mind telling us a bit more about your use case for querying the `display` field of a code? That would help us get this feature prioritized

https://www.hl7.org/fhir/search.html#token

[2021-05-21 16:52] luisberga commented on #329
Thank you for the advice. About the `:text` feature, to search display info, like:

`{{API_URL}}/Observation?code:text=headache`

Any idea when it will be available? Or, is there any other way to get information from the display field?

[code]

I've tried  `{{API_URL}}/Observation?code=O2` but it returns no values.

Thank you

[2021-05-21 17:16] luisberga commented on #329
Hello Carvantes, how are you?

Thank you for the update.

About the display... I use the REST call of the FHIR Works API as the Grafana database. There, I show the data in real time, with an 1 second update time.

At the moment, I have a lot of data from specific sensors, for example, Oximetry, Pulsation, CO2 level, among others... It would be ideal and inevitable that I could query the `display`,

[2021-05-24 14:40] carvantes commented on #329
Thanks for sharing more details.

The fix for the issue of searching for exact subject reference was released as part of `fhir-works-on-aws-search-es@2.6.1`. We'll update the version on `fhir-works-on-aws-deployment` alongside a few other changes later this week, but you can update to the latest `fhir-works-on-aws-search-es` to get the fix now.

[2021-05-26 11:28] phackwer commented on #313
The idea would be to use Aurora instead. Thanks anyway. Closing as it was answered already.

[2021-05-26 11:28] #313 closed, assigned to nobody

[2021-05-26 11:51] phackwer opened #336 "[Misc] How to get appointments per patient in the API"
**What's on your mind?**
Assuming that my appointment has the patient mapped as a participant, how could I query the /Appointment api to retrieve the patient's appointments?

[2021-05-26 12:26] phackwer commented on #336
Solved by adding our own identifiers to the Appointment (patient NHS Number and internal DB relation UUIDs)

[2021-05-26 12:26] #336 closed, assigned to nobody

[2021-05-26 16:06] phackwer opened #337 "[Misc] Get appointments by period"
**What's on your mind?**

I'm trying to get the appointments list according to a defined period and can't seem to find how.

I've first tried what's in the specification here:

https://www.hl7.org/fhir/search.html

But as we discussed before, that seems not yet implemented.

[code]

Then I tried the normal >= and < operators and got no luck too.

How can we search the appointments of a period in t

[2021-05-27 20:45] Bingjiling commented on #337
Hi @phackwer, thanks for reaching out! The ability to use range prefixes for date parameters was released with [v2.6.0](https://github.com/awslabs/fhir-works-on-aws-deployment/releases/tag/v2.6.0). I would recommend deploying the latest  version [v2.8.0](https://github.com/awslabs/fhir-works-on-aws-deployment/releases/tag/v2.8.0) and see if it resolves the issue?

[2021-05-27 22:05] phackwer commented on #337
Hi @Bingjiling , could you show me an example on how to do the search by period (start/end)? Are the prefixes defined in fhir search API all valids? Thanks

[2021-05-28 00:38] ericfuxealth commented on #165
@@medhost-bfindeisen We are interested to contribute to the multi-tenant solution. Would love to connect.

[2021-05-28 14:07] rsmayda opened #340 "[Feature Request] [RFC] Auto-archiving support (DDB -> S3)"
## Request for Comment

To the community please express your opinion for this issue. You can use 👍 for "we will use it" or 👎 "we wouldn't use it".

### Overview of change

A patient's online data is archived out of DynamoDB after 6 months and moved into S3 for a period of 10 years. The requestor is planning on using the archiving functionality to support privacy and regulatory requirement of keepi

[2021-05-28 14:24] phackwer commented on #337
Hi. Although seems that the prefixes are working, when I try to search by start or end I keep getting errors.

[2021-05-28 14:17:24] local.INFO: {"resourceType":"OperationOutcome","text":{"status":"generated","div":"<div xmlns=\"http://www.w3.org/1999/xhtml\"><h1>Operation Outcome</h1><table border=\"0\"><tr><td style=\"font-weight: bold;\">error</td><td>[]</td><td><pre>**Invalid search parameter

[2021-05-30 00:34] ericfuxealth opened #341 "[Feature Request] Composite search with multiple patient ids in Observation (OR searches)."
**Describe the bug**
Passing multiple patient ids in observation search returns empty result.
Composite search in some situations work though, e.g.
GET <BaseURL>/Patient?name=smith, james works as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create two patients, with id p1 and p2
2. Create an observation for each patient
3. `GET <BaseURL>/Observation?subject=Patient/p1` and `GET

[2021-05-31 21:19] phackwer commented on #337
Ok, we got it working with the same code that is on the opening of the issue. Closing it.

[2021-05-31 21:19] #337 closed, assigned to nobody

[2021-06-01 22:30] rsmayda commented on #341
Thanks for reporting this we will try to replicate and confirm this soon

[2021-06-01 22:33] rsmayda commented on #329
With our most recent release: https://github.com/awslabs/fhir-works-on-aws-deployment/releases/tag/v2.8.0 (Search version 2.6.1). This issue is resolved!

Please reopen if you have further questions or concerns

[2021-06-01 22:33] #329 closed, assigned to nobody

[2021-06-01 22:35] #314 closed, assigned to nobody

[2021-06-02 14:11] ericfuxealth opened #342 "VALIDATOR_LAMBDA_ALIAS is not set properly causing serverless offline to fail"
**Describe the bug**

VALIDATOR_LAMBDA_ALIAS is not set properly, causing serverless offline to fail validation.

The error is:

`Unhandled Error ValidationException: 1 validation error detected: Value '[object Object]' at 'functionName' failed to satisfy constraint: Member must satisfy regular expression pattern: (arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\d{1}:)?(\d{12}:

[2021-06-02 22:13] nguyen102 commented on #341
Status update: I was able to reproduce this by running the following commands

**Create Observation and Patients**
[code]

**Search for Patient (Use the IDs autogenerated by FWoA)**
`{{API_URL}}/Observation?subject=Patient/7b21ab46-30d7-4eac-9913-5a0db078f78f,Patient/2c83ce16-de84-4be7-9091-e1dd1aa08298`

I'll continue to look into this further.

[2021-06-03 18:07] nguyen102 commented on #342
Thanks for the filing this Bug request Eric. I've started a PR to fix this issue [here](https://github.com/awslabs/fhir-works-on-aws-deployment/pull/343)

[2021-06-03 19:25] nguyen102 commented on #341
Hi,

Supporting `OR` in search parameters is something that we haven't fully supported yet. It's currently in our backlog, and we will update this ticket once it's been implemented.

In this case, searching on `name` happens to work because our current ES search queries tokenize `smith,james` as `[smith,james]` and does a full text search for any of the tokens. However, for non text fields like `s

[2021-06-03 19:55] nguyen102 commented on #342
PR has been merged to fix this issue. Closing ticket.
https://github.com/awslabs/fhir-works-on-aws-deployment/pull/343

[2021-06-03 19:55] #342 closed, assigned to nobody

[2021-06-03 20:04] nguyen102 commented on #324
Hi JM,

I was unable to reproduce this bug. Can you double check in DDB what the record for this Patient looks like? It'll be interesting to see if the Patient record was stored in DDB correctly.

Below, I'll describe what I did to test.

I'm currently running [this version](https://github.com/awslabs/fhir-works-on-aws-deployment/commit/376fd68eb407b52b1eeb104c7d14db50a291d22f) of the FHIR code.

[2021-06-07 20:03] Zambonilli commented on #297
FYI, FHIR R4b and R5 look to be reworking the subscriptions model to the more classical topics and subscriptions (that can include filters). This should make the implementation here a bit more tenable than register random query and get answers.

[2021-06-21 12:48] ilyash-b opened #357 "[package.json] Undefined variables npm_package_samtemplate, npm_package_cftemplate, and npm_package_stackname"
While investigating how to deploy FHIR Works using CodePipeline, I came across this:

https://github.com/awslabs/fhir-works-on-aws-deployment/blob/c4441a6b8afdfd1d000a2641db3d3e585d9cdca5/package.json#L28-L30

The variables npm_package_samtemplate, npm_package_cftemplate, and npm_package_stackname don't appear anywhere else. Is it some leftover code from previous deployment mechanism?

[2021-06-21 13:20] ilyash-b opened #358 "[Misc] Deploying using CodePipeline"
**What's on your mind?**

I am figuring out how to deploy FHIR Works using CodePipeline. Main steps would be:

* Build step, where Serverless generates CloudFormation template.
* Deploy step, where CloudFormation template from previous step is used to deploy the application

Does that sound OK?

**Versions (please complete the following information):**
 - `mainline` branch

[2021-06-21 13:22] ilyash-b opened #359 "[Misc] Why Serverless and not SAM?"
What's the reason that FHIR Works uses Serverless and not AWS SAM?

[2021-06-21 14:37] ilyash-b commented on #358
Encountered a problem.

The operation of `sls` and `sam` differs: `sam` application uploads the artifacts to S3 during build/package file. `sls` doesn't, it uploads the artifacts during `deploy`. This breaks the usual build/deploy separation in CodePipeline which works with CloudFormation.

Edit 1:

As of now, we will probably follow documentation of `serverless deploy`

Source: https://www.server

[2021-06-21 15:11] Zambonilli commented on #358
We've done something similar internally and focused on deploy only. We leveraged the scripts/install.sh script which sets enough context for initial deploy and subsequent deploys via `serverless deploy`.

Long term, we were looking at building and open sourcing codepipeline and codebuild jobs for:
1. CI/CD in dev of everything
2. deploying code changes only
3. deploying infrastructure only
4. depl

[2021-06-21 15:13] Zambonilli commented on #297
https://onedrive.live.com/view.aspx?cid=cfea2adeb18402af&page=view&resid=CFEA2ADEB18402AF!78090&parId=CFEA2ADEB18402AF!77955&authkey=!APp9BdFprziM8j0&app=PowerPoint

[2021-06-21 15:18] ilyash-b commented on #358
@Zambonilli, we are small team and currently only focused on number one above.

I was hoping that the deployment will be more aligned with what we do for SAM applications. Apparently it's not straightforward for the reason I mentioned above - "package" doesn't upload the artifacts to S3, "deploy" does both upload and CloudFormation update. Looks like we will be using CodeBuild for `sls deploy` whi

[2021-06-21 15:27] ilyash-b commented on #358
Related: https://github.com/awslabs/fhir-works-on-aws-deployment/issues/357 - [package.json] Undefined variables npm_package_samtemplate, npm_package_cftemplate, and npm_package_stackname

[2021-06-21 15:27] ilyash-b commented on #358
Related: https://github.com/awslabs/fhir-works-on-aws-deployment/issues/359 - [Misc] Why Serverless and not SAM?

[2021-06-21 18:15] SanketD92 commented on #359
Hello @ilyash-b, and thank you for the question. There's no strong reason on why we chose Serverless over AWS SAM other than the fact that we were more experienced with the former and AWS SAM at the time of FWoA inception was lacking key development features. Now though the gaps have been closed.

If you've used AWS SAM in any of your other projects, could you provide some details as to how that f

[2021-06-21 19:54] SanketD92 commented on #357
@ilyash-b You're right. Currently the `launch` command (which relies on these variables ultimately) is not being used.

[2021-06-21 21:37] SanketD92 commented on #358
@ilyash-b, I want to understand your use-case correctly. Do you mean you would like FHIR Works to leverage CFN that helps you perform CI/CD using CodePipeline and SAM?

[2021-06-22 10:57] ilyash-b commented on #358
@SanketD92 , separate issues:

We would like to have CI/CD using CodePipeline - that's correct.

CodePipeline has [integrations with different AWS services](https://docs.aws.amazon.com/codepipeline/latest/userguide/action-reference.html). One of them is [CloudFormation deployment](https://docs.aws.amazon.com/codepipeline/latest/userguide/action-reference-CloudFormation.html). It works well with SA

[2021-06-22 10:59] ilyash-b commented on #357
Then "todo" here is to remove these commands? ... together with `launch`?

[2021-06-22 11:03] ilyash-b commented on #359
We have some experience with AWS SAM. It works fine for us except for some corner cases.

Is switching to AWS SAM on the table?

Serverless is not as straightforward to use with CodePipeline - https://github.com/awslabs/fhir-works-on-aws-deployment/issues/358#issuecomment-865882581

Edit: which features specifically were missing?

[2021-06-22 12:58] jmrah commented on #324
Thanks for attemping to reproduce @nguyen102.  I also cannot reproduce this on v2.8.0 of FHIR Works.  Will close issue.

[2021-06-22 12:58] #324 closed, assigned to nobody

[2021-06-22 19:46] SanketD92 commented on #359
Hi @ilyash-b, thanks for responding back.

What we meant by "lacking key features" was that at the time of implementing this product, AWS SAM was was in its beta phase and therefore not as mature as Serverless.

We have not planned to add support for AWS SAM as of now. We can prioritize it in upcoming sprints once we evaluate the volume of similar feature requests.

[2021-06-22 20:11] robertlario opened #360 "Trying to set up environment per "Development.MD""
I am using MS Visual Studio Code on a windows box with powershell.

The DEVELOPMENT.MD file states

"Then you can run this command in the `deployment` package directory to spin up your local environment:

`AWS_ACCESS_KEY_ID=<Access-Key> AWS_SECRET_ACCESS_KEY=<Secret-Key> OFFLINE_BINARY_BUCKET=<FHIRBinaryBucket> OFFLINE_ELASTICSEARCH_DOMAIN_ENDPOINT=<ElasticSearchDomainEndpoint> serverless offline

[2021-06-22 20:24] SanketD92 commented on #358
@ilyash-b, thanks for responding back.

CodeBuild allows flexibility such that it could be used for actions like build, deploy, as well as triggering tests. It all depends on how you structure your `buildspec.yml` file.

For linking your code to CodePipeline, you can link your Source stage to your `<repository>/<branch>` (GitHub/CodeCommit etc.)

As for storing artifacts in an S3 bucket, you can s

[2021-06-22 20:51] SanketD92 commented on #360
@robertlario, thanks for your question.

For plugging in your values, you'd need to set them in Windows environment variables and verify that Powershell recognizes them to be set.

Once you run the `serverless offline start` command, an output containing the API Key (defined as "Key with token") will be generated. You will need to use this (for the header `x-api-key`) along with the API URL (local

[2021-06-22 21:00] robertlario commented on #360
Thanks!

________________________________
From: Sanket Dharwadkar ***@***.***>
Sent: Tuesday, June 22, 2021 4:52 PM
To: awslabs/fhir-works-on-aws-deployment ***@***.***>
Cc: Robert Lario ***@***.***>; Mention ***@***.***>
Subject: Re: [awslabs/fhir-works-on-aws-deployment] Trying to set up environment per "Development.MD" (#360)

@robertlario<https://github.com/robertlario>, thanks for your questi

[2021-06-23 03:03] robertlario opened #361 "Debugging in MS Visual Studio Code"
Is it possible to set breakpoints and debug the code while running "serverless offline start"? What is the recommend method for debugging FHIR Works lambda's?  Putting console.log's thought out the code to locate a bug is real old school debugging I'd like to avoid.

[2021-06-23 07:56] ilyash-b commented on #359
Hi @SanketD92!

No promises, I need to think a bit more and check with the team here but ...

What if we made a pull request to change from Serverless to AWS SAM? (Supporting both sounds like more complicated maintenance).

[2021-06-23 13:01] MacL3an opened #362 "[Misc] Kibana log-in issue"
**What's on your mind?**
I set up FHIR Works yesterday using CloudFormation and was curious to peek into the ElasticSearch to see what data was there.
I created a new User in the Kibana pool in Cognito and then tried hitting the ElasticSearchDomainKibanaEndpoint endpoint. It asks to log in after which it asks me to change my password for the user, so it seems to find the user, but then I’m hit wit

[2021-06-23 18:00] SanketD92 commented on #362
Hi @MacL3an, thanks for opening this issue.

Did you confirm the email address for this user prior to logging in?

Could you check if there is an error message on your browser's network/console tabs (under developer tools)?
This could help us getting started with initial troubleshooting.

Thanks!

[2021-06-23 18:00] Zambonilli commented on #361
I'm assuming you mean debug the entire FHIR works and not just the unit tests for a module. The latter is a pretty straight forward solution where you create a .vscode/launch.json and the program is jest.

For debugging the entire FHIR works locally, you'll need to follow the local development setup documentation first. From there, you can add a .vscode/launch.json to the deployment package. From

[2021-06-24 03:56] robertlario commented on #361
Thanks Mike.

I created a directory called FHIRWORKS.  I placed the fhir-works-on-asw-* packages from githib into this directory.  I followed the readme.md and install.md directions and successfully deployed to AWS.  I configure postman accordingly and was able to put, get, etc.

I followed Development.MD and was able to use postman to connect to http://localhost:3000 successfully.

To setup for d

[2021-06-24 10:37] ilyash-b commented on #358
Hello @SanketD92!

It sounds like we are talking about different things.

We are aware of this.

I was talking about artifacts which are result of `serverless package`. These are per build.

Let's summarize my struggle again:

SAM - CodeBuild is used to build the app and upload the artifacts to S3; in a separate step, CodePipeline deploys the app using CloudFormation integration. **Fits neatly int

[2021-06-24 13:49] Zambonilli commented on #361
Your Run and Debug dropdown in vscode should have a `Debug` option. Select that and run, it should start and break on serverless.js becaues of the stopOnEntry being set to true.

[2021-06-24 14:12] Zambonilli commented on #358
Yeah, serverless is nice as long as you commit to its model and unfortunately its model doesn't lend itself well to playing with others since it's all or nothing. You're spot on that the best you're probably going to get here is a codepipeline that runs codebuilds to run serverless commands. There's a level of separation with serverless package vs serverless deploy/deploy function but all of that

[2021-06-24 20:23] robertlario commented on #361
I do not have a "Run and Debug" menu item at the top level.  I do have "Run > Start Debugging".  It as if the IDE does not see "AWS FHIR Works 210622\fhir-works-on-aws-deployment\.vscode\launch.json"
[cid:a69b115c-674d-4943-b1b4-425acbe411b9]

[cid:e7633e5f-9fe2-40e7-bb4b-9ac0f6edef49]
________________________________
From: Mike Lohmeier ***@***.***>
Sent: Thursday, June 24, 2021 9:50 AM
To: awsla

[2021-06-24 20:36] robertlario commented on #361
So I moved the launch.json up "AWS FHIR Works 210622\.vscode\launch.json" and "Run > Start Debugging".  The debugger starts and appears to continue to run.  Using postman I attempted "Get Patient Search".

I got :

GET http://localhost:3000/Patient
Error: connect ECONNREFUSED 127.0.0.1:3000

Do I continue to use the same value I have been using for "x-api-key"?

[2021-06-24 21:45] Zambonilli commented on #361
serverless command outputs the x-api-key to standard out and it should come through the debug window in vs code. Looks like your server isn't running though judging by the error above.

[2021-06-24 23:25] robertlario commented on #361
Just to be clear, the .viscose/launch.json goes under the fhir-works-on-aws-development directory. Yes?

r/ Robert

On Jun 24, 2021, at 5:45 PM, Mike Lohmeier ***@***.***> wrote:

﻿

serverless command outputs the x-api-key to standard out and it should come through the debug window in vs code. Looks like your server isn't running though judging by the error above.

—
You are receiving this becaus

[2021-06-25 00:47] Zambonilli commented on #361
yep, .vscode/launch.json in fhir-works-on-aws-development

[2021-06-25 04:58] robertlario commented on #361
I’ve followed the readme, install and development docs.  I have gotten to the point where I can use postman with the FHIR Local environment to call the local instance of serverless to update and search DynamoDB and ElasticSearch running on AWS.

I would like to step through the lambda  code locally in visual studio code using the debugger.

I created the “launch.json” file as you suggested in “C:\

[2021-06-25 13:35] Zambonilli commented on #361
Are you creating a ".vscode" directory under fhir-works-on-aws-deployment? Your absolute path to the launch.json should be "C:\AWS FHIR Works 210622\fhir-works-on-aws-deployment\.vscode\launch.json"

[2021-06-25 14:30] Zambonilli commented on #362
I was able to reproduce when not setting an email address when creating the kibana cognito pool user. There were no error messages in the console or returned by cognito in the network requests. Setting an `@example.com` email address in the cognito create user screen is a work around here.

Steps to Reproduce:
1. Navigate to fhir-service-$stage-Kibana user pool in Cognito's console
2. Navigate to

[2021-06-25 15:26] robertlario commented on #361
yes with a slight clarification on your last message.  My absolute path is "C:\AWS FHIR Works 210622\fhir-works-on-aws-deployment\.vscode\launch.json"

Note the "\" added between "deployment\.vscode".

[2021-06-25 15:28] robertlario commented on #361
interesting.  This systems removed the back slash I added between deployment and .vscode

I am assuming it did the same to your reply. :-)

[2021-06-25 15:49] Zambonilli commented on #361
oh weird, yeah. Can you try just clicking the play button on the left hand menu options in vscode. From there you should be able to create or update the launch.json.

[2021-06-25 18:18] robertlario commented on #361
I've tried this.  When I select the play button I am presented with three options "Run and Debug", "JavaScript Debug Terminal", and "Debug URL".  I've tried all three.  When I select "Run and Debug", I am presented with option to select an environment.

The options presented are : "AWS SAM: Debug Lambda Function Locally", "Chrome", "Chrome (legacy)", "Docker: Debug in Container", "Edge: Launch", "

[2021-06-25 19:50] Zambonilli commented on #361
What you are describing is the default "Run and Debug" pane. If you click the "create a launch.json file" under "Run and Debug" and select nodejs you can copy & paste the launch.json file into the resulting launch.json file that vs code created for you. vs code is not finding your .vscode/launch.json otherwise this screen wouldn't have the default pane contents.

[2021-06-25 20:29] robertlario commented on #361
Yes, I believe I understand this.  If I create a new launch.json file in this manner, it places the file at C:\AWS FHIR Works 210622\.vscode" not under fhir-works.on-aws-development.

So I should create a launch.json file under "C:\AWS FHIR Works 210622\.vscode" and place the configuration previously provided into this instance?

[2021-06-25 20:39] Zambonilli commented on #361
Are you opening vs code in the fhir-works-on-aws-deployment directory or your root directory?

[2021-06-25 20:45] robertlario commented on #361
At the root (C:\AWS FHIR Works 210622.vscode).  Should I be opening VSCODE at fhir-works-on-aws-deployment (the subdirectory of the project (C:\AWS FHIR Works 210622.vscode)

[2021-06-25 21:04] Zambonilli commented on #361
yes

[2021-06-25 21:17] robertlario commented on #361
1) Should this launch.json initiate the spin up of serverless?
or
2) Should I start serverless and attach to the process?

Because when I start the debugger VSCODE does see the configuration launch.json, but it does not appear to start serverless. After starting the debugger, VSCODE asks me to attached to existing processes, none of which is serverless.

[2021-06-25 21:25] Zambonilli commented on #361
If you used the launch.json from above then there should be a `Debug` option in the drop down list. This will run serverless offline command and attach your debugger on start.

[2021-06-25 21:44] robertlario commented on #361
I'm sure I am missing something, but please know I was very diligent to follow your directions.

I started the debugger.

"Attach by Process ID" is one of the configurations, which i select.

VSCODE spins for a few seconds, then presents me with a list of processes to attached to.

serverless is not one of them.

It does not appear that serverless is being spun up.

Besides configuring the launch

[2021-06-25 22:29] robertlario commented on #361
I was selecting the wrong configuration.

On to the next challenge.

Thanks for your time!

[2021-06-25 22:29] #361 closed, assigned to nobody

[2021-06-28 08:58] #358 closed, assigned to nobody

[2021-06-28 11:27] MacL3an commented on #362
I can also confirm that it worked once I created a new user with an email address. Thanks for the help!

[2021-06-29 13:48] rsmayda commented on #212
The original issue of _sort not working on dates has been resolved: https://github.com/awslabs/fhir-works-on-aws-search-es/issues/60 and released in [2.5.0](https://github.com/awslabs/fhir-works-on-aws-search-es/blob/mainline/CHANGELOG.md#250-2021-04-23)

[2021-06-29 13:49] rsmayda opened #368 "Publish a Capability Statement, per version"
I foresee many of these "Does AWS FHIR Works support <x>?" questions. In anticipation, would you consider?

- good: Publishing a static CapabilityStatement with your release note [^1]
- better: Running a live reference implementation, so folks can hit the `metadata` and `.well-known/smart-configuration` endpoints themselves
  * Optional: Add yourself to the HL7 Confluence of test/reference servers

[2021-06-29 13:49] #212 closed, assigned to nobody

[2021-06-29 14:01] #360 closed, assigned to nobody

[2021-06-29 14:13] rsmayda commented on #359
We would love to support this! Some criteria:
- Not backwards breaking
- Easily do local development (equivalent to `sls offline`)

Before starting this change please look into using CDK too: https://aws.amazon.com/blogs/compute/better-together-aws-sam-and-aws-cdk/. Also, just an FYI, with a change like this it maybe a bit drawn out due to testing on our side

[2021-06-29 14:36] rsmayda commented on #362
Added some comments in the INSTALL.md file calling this out

[2021-06-29 14:36] #362 closed, assigned to rsmayda

[2021-06-29 14:37] rsmayda commented on #357
Removed!

[2021-06-29 14:37] #357 closed, assigned to rsmayda

[2021-06-29 18:40] MacL3an commented on #362
I used the PDF guide I found [here](https://docs.aws.amazon.com/solutions/latest/fhir-works-on-aws/fhir-works-on-aws.pdf) and dit not even know about this repo. The readme in this repo seems more up to date. Perhaps you should remove the pdf and only point to here?

[2021-06-30 17:51] robertlario opened #371 "fhir-works-on-aws-deployment 3.0 & older version fhir-works-on-aws-routing 5.4.1"
Should fhir-works-on-aws-deployment 3.0 be referencing fhir-works-on-aws-routing 5.4.1 or 5.4.2?

It appears fhir-works-on-aws-deployment 3.0 is a version behind on fhir-works-on-aws-routing.  This is by design?

[2021-06-30 19:48] rsmayda commented on #371
This occasionally happens, particularly when the sub-packages changes are not "urgent/critical".

We generally advise customers to take the latest version of each package. I will open a PR now remedying this Router version

[2021-06-30 19:52] robertlario commented on #371
ok. Thanks.  It was just creating confusion for me when I was debugging the code.  I pulled down source for fhir-works-on-aws-routing 5.4.2, which of course does not line up with what the debugger was showing.

[2021-06-30 19:52] #371 closed, assigned to nobody

[2021-07-06 14:12] rsmayda commented on #359
@ilyash-b If you end up wanting to make a PR moving to SAM/CDK please open a new feature request and we can track the progress there :)

[2021-07-06 14:12] #359 closed, assigned to nobody

[2021-07-06 14:33] robertlario opened #377 "Resources will not validate if json schema has "ID" defined."
Resources will not validate if the json schema has an "id" defined.

Taken from fhir.schema.json https://hl7.org/FHIR/fhir.schema.json.zip
{
  "$schema": "http://json-schema.org/draft-06/schema#",
  "id": "http://hl7.org/fhir/json-schema/4.0",
  "description": "see http://hl7.org/fhir/json.html#schema for information about the FHIR Json Schemas",
  "discriminator": { ......

The issues :
if the id

[2021-07-06 14:52] Zambonilli opened #378 "[Misc] private and public fhir-service API Gateway"
**What's on your mind?**
We're looking to have traffic to fwoa routed internally from our ec2 instances. However, when trying to route the traffic internally, we were unable to because the fhir-service is currently public. Setting up a VPC Endpoint for API gateway blocks the public DNS for the fhir-service unless it's a custom DNS. Looking more closely at the documentation for setting up VPC endpo

[2021-07-06 15:54] robertlario opened #379 "IncompleteSignatureException: not a valid key=value pair (missing equal-sign) in Authorization header"
Can you provide me with any insight on what might lead to this exception?  It certainly feels like a security issue, but I have checked all the parameters and keys.

I am debugging the lambda locally, calling out to dynamodb running on AWS.

Thoughts?

[code]

[2021-07-06 16:30] rsmayda commented on #379
To get a better understanding of this; can you explain your set-up?
- Do you have FHIR Works on AWS deployed?
- Are you running `sls deploy`?
- Are you using `yalc` to have a local `persistence` deployed?
- Any other pertinent information?

[2021-07-06 16:56] rsmayda commented on #378
A private API GW is something of interest for some of our customers. Unfortunately we have not had a chance to dive deep into how or what it would look like. I will add this to our backlog! If you need a quicker answer we can rope in some SA specialists and pick their brains.

[2021-07-06 18:38] Zambonilli commented on #378
Thanks, this is blocking us so we'll dive on it and get a PR going.

[2021-07-08 01:53] floofydoug opened #380 "[Feature Request] contains and exact searches on string typed resources"
**Is your feature request related to a problem? Please describe.**
I'm trying to use some of the modifiers like `:contains`, `:exact` on a patient search, but I always get the following:

[code]

**Describe the solution you'd like**
I'd like the fhir server to be able to support non-exact querying. A search for Patients with `{{API_URL}}/Patient?name=wash` should return results for "Washington"

*

[2021-07-09 17:31] Bingjiling commented on #377
Hi @robertlario, thanks for reaching out! Could you please share the request data that you used that caused this error? We can try to reproduce it from our side with it.

[2021-07-09 17:32] Bingjiling commented on #380
Hi @floofydoug, thanks for reaching out! I will create a backlog ticket for this feature request and bring it to the attention of my team.

[2021-07-12 10:35] robertlario commented on #377
Morning,

I did provide the URL to the schema used.  It is https://hl7.org/FHIR/fhir.schema.json.zip.

Robert

[2021-07-12 10:38] robertlario commented on #379
I just reset the entire environment.  I do not know what caused the issue, but it's working fine now.  Thx

[2021-07-12 10:38] #379 closed, assigned to nobody

[2021-07-12 14:24] Bingjiling commented on #377
Hi Robert,

Could you please share the exact request data that you used to recreate this error? Something like

POST patient with:

[code]

Then get patient with the id returned will result in error message: `Some random error message`. With this information we can reproduce the error on our side and find the root cause.

Thanks,
Yanyu

[2021-07-13 21:16] Zambonilli commented on #378
FYI, we have a branch in our fork that is setting up a private API gateway here. https://github.com/Zambonilli/fhir-works-on-aws-deployment/tree/feature/private_api_gateway with most of the change in https://github.com/Zambonilli/fhir-works-on-aws-deployment/blob/feature/private_api_gateway/cloudformation/apiGateway.yaml

We were able to leverage the clone function in API Gateway to clone the publ

[2021-07-15 16:10] rsmayda commented on #340
Hey @Zambonilli! So we haven't got a lot of traction on adding this feature to FWoA. There could be some middle ground, of adding some but not all of the https://github.com/awslabs/fhir-works-on-aws-persistence-ddb/pull/73 PR. Any thoughts on that? Does you having to maintain your own persistence package serve as a blocker?

[2021-07-15 19:37] Zambonilli commented on #340
No worries, we have a release branch of 3.0.0 in our public fork that includes the archiving logic and the private API gateway. This prevents any blockers in the short term and gives us breathing room to do this right.

Long term, we obviously want to get archiving to be a 1st class citizen in fwoa so we can minimize the delta between upstream and our forks. Is there a path here where we can creat

[2021-07-15 20:47] rsmayda commented on #340
+1 to this idea:

That could be a good path -- We are unfortunately pretty loaded until mid August. We should try to reconvene then to determine what that would/could look like

[2021-07-16 18:44] sb-wnyffenegger opened #383 "[Misc] Does FHIR Works write the entire FHIR resource into ElasticSearch?"
**What's on your mind?**

I am reading the documentation concerning DynamoDB Streams and am a little confused with what is being streamed from DynamoDB to the intermediate Lambda and then to ElasticSearch.

When a FHIR resource is modified in DynamoDB does the resultant event in the DynamoDB stream (and hence sent to ElasticSearch) contain the entire FHIR resource?

[2021-07-16 22:48] rsmayda commented on #383
Yes the entire FHIR resource is sent to Elastic Search

[2021-07-20 10:44] organom opened #386 "Install.sh Info_Output.yml is not a valid YAML"
The install.sh directs the output to a file called Info_Output.yml in
https://github.com/awslabs/fhir-works-on-aws-deployment/blob/7cf96cbca41efce6b9f93ddf05673390966d09ce/scripts/install.sh#L305

Late it also executes `parse_yaml` in
https://github.com/awslabs/fhir-works-on-aws-deployment/blob/7cf96cbca41efce6b9f93ddf05673390966d09ce/scripts/install.sh#L310

By seeing the official documentation a

[2021-07-20 10:46] ilyash-b commented on #386
`parse_yaml` is then misnamed because it parses invalid yaml

[2021-07-22 22:56] jn1119 commented on #377
Pushed the fix in [PR 102](https://github.com/awslabs/fhir-works-on-aws-routing/pull/102)

[2021-07-22 23:17] sdhakal-xealth opened #388 "[Feature Request] Support [system] | [code] Search"
**Is your feature request related to a problem? Please describe.**

Example: I want to search for any condition with a code "ha125" in the code system "http://acme.org/conditions/codes" using ` GET [base]/Condition?code=http://acme.org/conditions/codes|ha125`.

**Describe the solution you'd like**
Support [system] | [code] search.

**Describe alternatives you've considered**
Iterate all the condit

[2021-07-28 02:20] ericfuxealth opened #390 "[Bug] Unable to update Implementation Guide: Lambda too big to deploy with IG"
**Describe the bug**
Trying to follow the steps here to add implementation guide but ran into issues with the Lambda package too big to deploy.
https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/USING_IMPLEMENTATION_GUIDES.md

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the steps here https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/USING_IMP

[2021-07-28 23:10] #377 closed, assigned to nobody

[2021-07-28 23:21] carvantes commented on #388
Hi,

The support for token type search parameters was added on v2.3.0(https://github.com/awslabs/fhir-works-on-aws-search-es/blob/mainline/CHANGELOG.md#230-2021-04-09)

`GET [base]/Condition?code=http://acme.org/conditions/codes|ha125` is a valid search query. The only caveat is that the `|` MUST be url encoded. e.g. `GET [base]/Condition?code=http://acme.org/conditions/codes%7Cha125` (most http l

[2021-07-28 23:27] carvantes commented on #388
I just verified that a query like the following orks fine using the latest version of this package:
[code]

Please upgrade to the latest version and do URL encoding for search queries.

I'm closing this issue now, but feel free to re-open if the above does not work for you.

[2021-07-28 23:27] #388 closed, assigned to nobody

[2021-08-02 07:48] #383 closed, assigned to nobody

[2021-08-05 21:40] SanketD92 commented on #386
A fix has been merged for this bug.

[2021-08-05 21:40] #386 closed, assigned to nobody

[2021-08-09 15:12] SanketD92 commented on #390
Hello @ericfuxealth, thank you for reporting this error. We've added it to our backlog and we'll work it into our sprints based on priority.

[2021-08-09 19:13] Bingjiling commented on #390
Hi @ericfuxealth, thanks for reaching out! I checked my dev environment and integ test environment used for GitHub workflow. Both environments have US Core IG deployed, the size of Hapi validator lambda is within the limit and the size of the IG package is small. Could you please try following these steps in deploying US Core and see if it resolves the issue?

https://github.com/awslabs/fhir-works

[2021-08-09 20:42] ericfuxealth commented on #390
Thanks. No issue with just US-core. The concern is when we add more profiles in the future we'll hit the Lambda limit size. It's not a blocking issue right now.

[2021-08-10 18:38] masterelaya commented on #227
I am getting boto3 error when install the fhir on AWS through docker. Please help.
#6 31.75 Collecting boto3
#6 31.93   Could not find a version that satisfies the requirement boto3 (from versions: )
#6 31.93 No matching distribution found for boto3

RUN apt-get update && apt-get install -yq python3-pip less && pip3 install boto3 && curl -fsSL --compressed  "https://awscli.amazonaws.com/awscli-exe

[2021-08-10 19:54] masterelaya opened #401 "[Bug] Getting error while running docker install command for fhir-works-on-aws-deployment with latest awscli in local laptop"
Issue :

I am getting below error after running this command by installing latest aws cli in my local laptop -> docker build -t fhir-server-install -f docker/Dockerfile . Please help to resolve with updated command line.

#6 35.41   Could not find a version that satisfies the requirement boto3 (from versions: )
#6 35.42 No matching distribution found for boto3
------
executor failed running [/bin/

[2021-08-11 14:33] Bingjiling commented on #401
Hi @masterelaya thanks for reaching out! Could you please share the print out of `aws --version` in your local laptop? Also, just so I understand it correctly, you've successfully installed FWoA through Docker before, and after a recent aws cli upgrade, the `docker build -t fhir-server-install -f docker/Dockerfile .` command is throwing error?

[2021-08-11 18:08] Bingjiling commented on #390
Got it, thanks for the clarification! I'll add this information to our ticket to help prioritization. The limit of Lambda package size is a hard limit, so we need to look into alternative ways to attach the IG packages to allow arbitrary number of profiles.

At the mean time, we've seen [pruning and cleaning npm packages](https://github.com/awslabs/fhir-works-on-aws-deployment/issues/166#issuecomm

[2021-08-13 02:40] shengc5 commented on #216
@joekendal can you share what was the cause of the issue above? Thanks!

[2021-08-13 07:58] shengc5 opened #408 "[Misc] Different implementations/versions between two deployment methods?"
The actual FHIR implementations seem to be different if someone deploys FWoA through the Cloudformation script and through cloning the repo from `mainline` and then deploying it through serverless.

For instance:

Is this expected? If so would be nice to note that somewhere (apologies if already done & I just missed it)

[2021-08-13 14:32] Bingjiling commented on #408
Hi Lucas,

Thanks for reaching out!

Yes, the CloudFormation install(AWS Solutions) is an older version compared to the GitHub install. It's been on our radar to bring the CloudFormation install up to date, however, we weren't able to get to it yet. I'll update the README file to reflect this difference so it does not bring more confusion.

Thanks,
Yanyu

[2021-08-13 16:31] shengc5 commented on #408
Thanks for the response. Could you elaborate on what the actual implementation differences are? I see both indicate FHIR version 4.0.1. Also, according to the cloudformation file, the standard version is based off of `fhir-works-on-aws/v2.1.3`, but I'm not seeing v2.1.3 in the changelog.

[2021-08-13 17:38] Bingjiling commented on #408
The Solutions deployment versions have diverged from the GitHub versions since the initial launch of Solutions actually. It was originally based out of GitHub v2.1.1 at initial launch, and we added some patches to the Solutions version afterwards which resulted in v2.1.2 and v2.1.3. And these two versions do not exist for the GitHub repository.

We're keeping a copy of the codes deployed in Soluti

[2021-08-13 18:28] shengc5 commented on #408
Got it. Thanks for the clarification.

To a question I had earlier, are search interfaces implemented correctly in both, given they both show FHIR 4.0.1?
According to the [FHIR docs](http://www.hl7.org/fhir/patient.html), Patient.name.given and Patient.name.family should be supported, but the serverless version is giving me a `Invalid search parameter 'name.given' for resource type Patient` error.

[2021-08-16 14:39] Bingjiling commented on #408
Yes, the AWS Solutions version do not support standard FHIR search parameters. The AWS Solutions version v2.1.3 is a functional equivalent of GitHub v2.1.1, and standard FHIR search parameters and a few other search functionalities were released in GitHub [v2.6.0](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/CHANGELOG.md#260---2021-04-09) and up.

For a complete list of fe

[2021-08-17 17:18] rsmayda commented on #165
We will be merging in this feature by end of this week!

[2021-08-19 13:50] rsmayda commented on #165
Merged and released! https://github.com/awslabs/fhir-works-on-aws-deployment/releases/tag/v4.0.0

[2021-08-19 13:50] #165 closed, assigned to nobody

[2021-08-19 13:57] rsmayda commented on #341
We now support OR searching, please upgrade `search` to >3.2.0: https://github.com/awslabs/fhir-works-on-aws-search-es/blob/mainline/CHANGELOG.md#320-2021-07-28

[2021-08-19 13:57] #341 closed, assigned to nobody

[2021-08-23 14:33] #401 closed, assigned to nobody

[2021-08-23 14:33] #408 closed, assigned to nobody

[2021-08-24 22:09] chrismrgn opened #423 "[Bug] Resource Limited Exceeded in /auditLogMover/handler.ts"
**Describe the bug**
When running the handler the export fails with error `Resource limit exceeded`. It seems the limit is one 'RUNNING' or 'PENDING' task per account as described here https://console.aws.amazon.com/servicequotas/home/services/logs/quotas/L-EEC839DF

**To Reproduce**
Steps to reproduce the behavior:
1. Run handler against AWS account

**Expected behavior**
Handler to execute witho

[2021-08-26 16:33] nguyen102 commented on #423
Thanks for the question. I see that you're unable to export the logs because the limit for number of Active Exports is reached. By default the AuditLogMover runs the export job once a day, with the expectation that the job takes less then two hours to complete.

Therefore it's expected that at most only one job will be run at a time. Are there other services in your AWS account that are running CW

[2021-08-31 19:32] ssvegaraju commented on #380
Hi @floofydoug, just wanted to update you on this request. We just merged support for the `:exact` search modifier into the `mainline` branch!

[2021-09-02 23:01] medhost-jshaver opened #432 "[Feature Request] Make config.ts async to allow for things like kms decrypt calls for ENV variables"
**Is your feature request related to a problem? Please describe.**
Currently cannot make async calls from config.ts. I would like to pass kms encrypted ENV variables for the client_id/secret attributes of introspectionOptions and be able to call kms.decrypt() within config.ts/authZConfig.ts (for smart).

**Describe the solution you'd like**
I would be nice to have config.ts and authZConfig.ts (for

[2021-09-07 22:22] chrismrgn commented on #423
Hi

Sorry I did not reply in time. I missed the response to my original question.

I have tried running your lambda in our environment and I get the same result `Resource limit exceeded` error.

As I interpret your code, it creates 7 promises for a given log group and executes `createExportTask` in parallel. This causes the `Resource limit exceeded` error as AWS only allow 1 `PENDING` or `RUNNING`

[2021-09-08 15:27] nguyen102 commented on #423
From the [code](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/auditLogMover/handler.ts#L22-L35), it looks like the export job is only exporting one job a day.

It exports logs that are 7 days old and exactly one day worth of logs. So for example, if today is September 8, it only exports logs for September 1.

In line 30 `const endTimeMoment = beginTimeMoment.endOf('day');`

[2021-09-08 22:53] #423 closed, assigned to nobody

[2021-09-09 20:22] rsmayda commented on #432
Hey Josh,

Lets set up some time to discuss more!

[2021-09-10 18:00] ghost opened #439 "[Bug] group export performance"
**Describe the bug**
The performance of the group export has degraded as our dataset has grown.  We currently have ~8.7 million items with a size of ~ 10 gigabytes.  The glue job of a group export for a single patient ran for 17+ hours before being manually stopped (it did not complete normally).

As discussed I created a new patient without any referenced resources and did not see an improvement.

[2021-09-14 00:00] shengc5 commented on #380
does the base search currently support partial search? according to the docs:
`By default, a field matches a string query if the value of the field equals or starts with the supplied parameter value, after both have been normalized by case and combining characters`
If not, is the :contains modifier supported in any branch?

[2021-09-14 00:14] ssvegaraju commented on #380
Hi @shengc5, we recently [merged support for contains into mainline](https://github.com/awslabs/fhir-works-on-aws-search-es/pull/113).

[2021-09-14 00:20] shengc5 commented on #380
thanks! Would I be right for assuming that the default search (no modifier) still does not support searching by the first part of the string?

i.e. [base]/Patient?given=eve should map to any patients with a name containing a given part with "eve" at the start of the name. This would include patients with the given name "Eve", "Evelyn".

[2021-09-14 14:56] rsmayda commented on #439
@medhost-bfindeisen -- What is your DynamoDB `Capacity mode`? You can find this in the console and clicking on the DynamoDB Table -- it should be `On-demand` or `Provisioned`

[2021-09-14 15:07] ghost commented on #439
@rsmayda -- our Capacity mode is set to `On-demand`

[2021-09-14 15:16] ssvegaraju commented on #380
That is correct; by default, with no modifiers, the search `[base]/Patient?given=eve` would not return a match for a patient with a given name "Evelyn", only a patient with the given name "Eve".

[2021-09-14 19:33] SanketD92 commented on #439
A note for those visiting this issue - the team is currently co-ordinating with Medhost and working towards a fix.

[2021-09-15 21:11] ghost opened #442 "[Bug] Content-Type is not 'application/fhir+ndjson' when retrieving bulk export files"
**Describe the bug**
The response Content-Type is 'binary/octet-stream' but Inferno tests require 'application/fhir+ndjson'

**To Reproduce**
Steps to reproduce the behavior:
1. Perform a group export
2. retrieve the ndjson files
3. Observe the response headers

**Expected behavior**
content-type is application/fhir+ndjson

**Screenshots**
![image](https://user-images.githubusercontent.com/6901392

[2021-09-16 17:35] floofydoug commented on #380
Fantastic! thank you Sukeerth!

On Tue, Sep 14, 2021 at 8:16 AM Sukeerth Vegaraju ***@***.***>
wrote:

--
Doug Phung
703.814.2608

[2021-09-16 17:51] #380 closed, assigned to nobody

[2021-09-17 02:01] rsmayda commented on #442
Working on this now!

[2021-09-17 15:10] rsmayda commented on #442
Persistence update is in v3.8.1 - please update when you get the chance 👍

https://github.com/awslabs/fhir-works-on-aws-persistence-ddb/tree/v3.8.1

[2021-09-17 15:10] #442 closed, assigned to rsmayda

[2021-09-17 15:22] Bingjiling commented on #439
Update: This issue was resolved and right now the export time is approximately 30mins. And we'll have a team discussion on if we can prioritize the request to make bulk export more time and resource efficient.

[2021-09-17 15:22] #439 closed, assigned to Bingjiling

[2021-09-17 17:14] lindenquan opened #444 "[Feature Request] Chained parameters search"
**Is your feature request related to a problem? Please describe.**
I need to find Resources based on a value of referenced parameter.
For example:   GET [base]/DiagnosticReport?subject:Patient.name=peter

**Describe the solution you'd like**
FHIR has a search spec about [Chained Parameters](https://www.hl7.org/fhir/search.html#chaining)

**Describe alternatives you've considered**
I have to search

[2021-09-17 19:04] lquanx opened #445 "[Misc] How to POST custom Resources ?"
**What's on your mind?**
I would like to post a custom Resource.  But I got below error:
[code]

**Versions (please complete the following information):**
 - v2.2.0-smart

[2021-09-17 19:37] Zambonilli commented on #445
Have you implemented a custom [DomainResource](http://www.hl7.org/fhir/domainresource.html) in your own [ImplementationGuide](http://hl7.org/fhir/r4/implementationguide.html) and followed the steps for [Using Implementation Guides](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/USING_IMPLEMENTATION_GUIDES.md)?

I'd be curious if this works in fwoa because I've only ever done

[2021-09-17 19:40] lquanx commented on #445
Thanks very much. I will try that out

[2021-09-17 19:48] Zambonilli opened #446 "[Feature Request] SNS Topic Actions for Cloudwatch Alarms"
**Is your feature request related to a problem? Please describe.**
When trying to attach custom subscriptions to cloudwatch Alarms in fwoa, you have to add the SNS topic ARN to the OkActions and AlarmActions properties of the cloudwatch alarm. Unfortunately, the PutMetricAlarm method requires that you echo the Alarm fields besides OkActions and AlarmActions. In our case, we used bash to attach an

[2021-09-17 20:11] SanketD92 commented on #444
Thank you for creating this feature request, we've added this to our team's backlog.

Related to another [issue](https://github.com/awslabs/fhir-works-on-aws-search-es/issues/104).

[2021-09-20 14:42] SanketD92 commented on #446
Thank you for creating this feature request, we've added this to our team's backlog.

[2021-09-20 20:13] lquanx opened #449 "[Bug] search parameter "_include" doesn't include fields with type "Reference<any>""
**Describe the bug**
"_include" parameter works for most fields. However, It seems it doesn't include referenced Resource for Reference<any> type field.

**To Reproduce**
Steps to reproduce the behavior:
1.`POST /Patient`
`{
    "resourceType": "Patient",
    "gender": "male"
}`
2.`POST /Communication`
`{
    "resourceType": "Communication",
    "status":"completed",
    "about": [
        {

[2021-09-20 22:29] ssvegaraju commented on #449
Hi @Lin-002, I've successfully reproduced this behavior, and will add this to our team's backlog. Thanks for raising this issue; I will comment here when there is an update!

[2021-09-20 23:02] lquanx commented on #449
Thanks very much !

[2021-09-20 23:15] carvantes commented on #449
Hi @Lin-002 ,

From what I can tell, this is not actually a bug. The thing is that on the FHIR spec, the `Communication.about` field is not searchable.

`_include` does not look at ALL the references in the resource, it only looks at the searchable references(the ones that have a SearchParameter with type reference). For `Communication` the available reference search params are: based-on, encounte

[2021-09-20 23:28] lquanx commented on #449
awesome. Thanks a lot @carvantes

[2021-09-21 14:45] Zambonilli commented on #446
Thanks @SanketD92. I've got a PR ready and waiting with the cloudformation changes whenever this gets prioritized in your backlog.

[2021-09-21 14:57] lquanx commented on #445
I have implemented a custom DomainResource in your own ImplementationGuide and followed the steps for Using Implementation Guides.

But, I still get the same error. And There is no information about my custom resource in the "CapabilityStatement" Resource

[2021-09-21 15:10] lquanx commented on #449
I created a SearchParameter for "about" field, and followed instruction https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/USING_IMPLEMENTATION_GUIDES.md.

But, It still doesn't include "about" field. Could you help me out ?
Here is the SearchParameter  definition
[code]

[2021-09-21 18:56] Zambonilli commented on #445
hmm, that is unfortunate. I haven't dived into the Implementation Guide code yet so I can't help much more until I do. I was hoping it would just work but with the breadth of change an Implementation Guides can bring, it's not surprising.

[2021-09-21 20:35] rsmayda commented on #445
@Lin-002 could you share your DomainResource? We could take a look and try to replicate/figure out what the issue is

[2021-09-21 22:16] lquanx commented on #449
I have successfully added custom SearchParameter for field "about". In order to do add SearchParameter, I had to provide "expression" and "xpath" both as well as ".index.json" file.

I can search Communication Resource by "about", but I cannot include "about", "subject", "recipient" fields. Previously it can include "subject" and "recipient". But now I cannot include any of them. If I use wildcard

[2021-09-21 22:46] ssvegaraju commented on #449
Hi, which Implementation Guide package is this using? And is the modified Search Parameter similar to the one posted above?

[2021-09-22 04:46] carvantes commented on #449
Hi @Lin-002 ,

The error occur because your search parameter is missing the `target` field. search parameters of type `reference` must have a `target` value.

The following will work:
[code]

Note that there's no shorthand to indicate that it targets "any" resource type. Such search params must list ALL resource types in the target array.

---

The IG support was designed primarily to consume publ

[2021-09-22 05:17] carvantes commented on #445
Hi @Lin-002 ,

At this moment we don't support adding custom resources via Implementation Guides. Sorry for the confusion, perhaps we can make this clearer on our documentation. @ssvegaraju , please see if you can update the docs.

We support IGs that do profiling(constraints/extensions) on the base FHIR resource types.

Adding a custom resource may need some code changes. Adding it to the array o

[2021-09-22 13:06] lquanx commented on #445
Thanks everyone.

[2021-09-22 13:33] lquanx commented on #449
@carvantes Thanks a lot. After adding target, "_include" parameter works like a charm !

[2021-09-22 15:30] ssvegaraju commented on #449
Sure, I will update the IG compiler to make sure that reference search params have the target defined, and will link that change here when done!

[2021-09-23 20:19] #449 closed, assigned to nobody

[2021-09-23 21:15] Zambonilli commented on #446
Closing because https://github.com/awslabs/fhir-works-on-aws-deployment/pull/447 merged.

[2021-09-23 21:15] #446 closed, assigned to nobody

[2021-09-27 21:49] Zambonilli opened #461 "[Feature Request] Ability to set id values on POST"
**Is your feature request related to a problem? Please describe.**
When POSTing a resource if you set the id field to a valid GUID the passed in id value is ignored and a new id is generated. This is problematic when trying to migrate existing data that already has it's own GUID id value and it's hard to change due to emails and bookmarks in the field with the existing id values used.

Looks like

[2021-09-28 07:07] #445 closed, assigned to nobody

[2021-09-28 09:32] AllanHodkinson commented on #461
Hi Mike,
You can create new resources with a known id by using a PUT request as per https://www.hl7.org/fhir/http.html#upsert

This is disabled by default. but you can enable it by setting `updateCreateSupported` = true when the persistence component is created.  It's this line of code you need to change:
https://github.com/awslabs/fhir-works-on-aws-deployment/blob/4e0b5ed2df673c636293264ebbafff5d

[2021-09-28 14:42] Zambonilli commented on #461
Fantastic, thank you. I'll close this issue out.

[2021-09-28 14:42] #461 closed, assigned to nobody

[2021-09-30 21:43] umair719 opened #468 "[Bug] Resource type not respected when doing a GET call with :id"
**Describe the bug**
When doing a `GET` call with` :id `using the Patient endpoint, but of a Practitioner resource, a valid Practitioner record is returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Use Postman to do a GET call on a Patient Resrouce
2. In the path variables section, pass in a valid Practitioner ID
3. Response will return the Practitioner resource

**Expected behavior**

[2021-10-01 15:46] Sami-M opened #469 "[Misc] SMART on FHIR Authorization Server Setup"
I've launched the FHIR Works on AWS but I'm having trouble with failing Inferno tests regarding Oauth (specifically tests SLS-97 and SLS-08). I think this means I launched my stack with the wrong issuerEndpoint, oAuth2ApiEndpoint, and or patientPickerEndpoint. I generated these endpoints by following the [Okta SMART on FHIR Setup Guide](https://github.com/oktadev/okta-smartfhir-docs/blob/main/SETU

[2021-10-04 10:42] idm0404u opened #472 "Error: spawn yarn ENOENT"
while Running this command : serverless deploy --aws-profile <AWS PROFILE> --stage <STAGE> --region <AWS_REGION>

I am getting this error.

Error: spawn yarn ENOENT
      at Process.ChildProcess._handle.onexit (internal/child_process.js:269:19)
      at onErrorNT (internal/child_process.js:467:16)
      at processTicksAndRejections (internal/process/task_queues.js:82:21)

     For debugging logs,

[2021-10-04 14:08] nguyen102 commented on #472
The command that you used is missing a parameter. It should be
`serverless deploy --aws-profile <PROFILE_NAME> --stage <STAGE> --region <AWS_REGION>`

For example
`serverless deploy --aws-profile default --stage dev --region us-east-1`

[2021-10-04 16:06] rsmayda commented on #469
Hey @Sami-M Which inferno tests are you using? ONC PROGRAM EDITION or COMMUNITY EDITION? https://inferno.healthit.gov/

Looking at your values those do look to be correct syntax.

[2021-10-04 16:09] rsmayda commented on #468
Thanks for opening this up, I will be working on this now

[2021-10-04 16:25] rsmayda commented on #468
This is no longer reproducible. The persistence version you are using is [V2.0.1](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/v2.1.1/package.json#L36) (based on the given deployment version), which does not have this [commit](https://github.com/awslabs/fhir-works-on-aws-persistence-ddb/commit/4f433d2eacdd81c25bdc6e5a2d5e9ea755a33204#diff-f639334981c2ebd30e571f0856dbb1b7c294497ff34

[2021-10-04 16:25] #468 closed, assigned to rsmayda

[2021-10-04 16:37] rsmayda commented on #340
Due to limited interest more broadly on this feature at this time we will close this ticket. In the future if interest changes please re-open this ticket!

[2021-10-04 16:37] #340 closed, assigned to rsmayda

[2021-10-05 02:11] idm0404u commented on #472
@nguyen102 I have used parameter in that command:

serverless deploy --aws-profile sohel-serverless-cv-two --stage dev --region ap-south-1

then only I got the error.

[2021-10-06 12:00] Sami-M commented on #469
Thanks for verifying for me. I used the community edition tests here: https://inferno.healthit.gov/community/ and selected US Core v3.1.1. I'll run through the Okta setup guide again and try to troubleshoot.

[2021-10-06 12:37] rsmayda commented on #469
A good milestone to aim for is to see if you can login. A easy way that I test is use Postman. To use our Postman setup check out our [README](https://github.com/awslabs/fhir-works-on-aws-deployment/tree/smart-mainline#using-postman-to-make-api-requests)

![image](https://user-images.githubusercontent.com/5750407/136203056-eb0227b4-7c06-4795-983b-c208db842e78.png)

[2021-10-06 12:39] rsmayda commented on #472
@idm0404u Did you run `yarn install` prior to using `serverless`?

It looks like the plugins may not have been installed: https://github.com/serverless/serverless/issues/3247

[2021-10-07 06:15] idm0404u commented on #472
@rsmayda yes I have run yarn install prior to serverless,
and the yarn is also installed, still getting the error.

[2021-10-07 17:07] Zambonilli opened #476 "[Feature Request] lambda graviton2 support"
**Is your feature request related to a problem? Please describe.**
Lambda team released new support for running lambdas with an ARM architecture. The big win here is an estimated cost savings of ~34%. With fwoa lambdas being nodejs, this should be a relatively easy win.

**Describe the solution you'd like**
Update the lambda functions to by default run with `arm64` architecture.

**Describe altern

[2021-10-07 17:12] rsmayda commented on #476
Great callout -- we will need to do some regression testing to ensure performance is comparable to existing solution. We will add this to our backlog for now

[2021-10-07 17:17] Zambonilli opened #477 "[Feature Request] API Gateway Content Encoding Enabled"
**Is your feature request related to a problem? Please describe.**
API Gateway supports various compression types for response payloads as part of the request pipeline. Currently, the fwoa $stage-fhir-service API Gateway has not configured the Content Encoding to be enabled. The problem enabling Content Encoding solves is API responsiveness and throughput because it trades CPU time for network tim

[2021-10-07 17:52] Zambonilli commented on #476
I will add that we did switch our internal CodeBuild job that runs scripts/install.sh over to the new graviton2 small instance a couple of weeks ago when graviton2 small was added to CodeBuild. There has been no difference in the results of `yarn run release`'s `tsc`, `eslint` or `jest` runs.

[2021-10-07 18:13] lquanx commented on #444
Thanks

[2021-10-08 17:41] rsmayda commented on #472
@idm0404u When you run `serverless info` what are your environment information?

This is what mine looks like:
[code]

[2021-10-08 17:43] rsmayda commented on #472
@idm0404u Could you also try to delete your `node_modules` directory and reinstalling the packages, then run `serverless` again

[2021-10-10 10:59] idm0404u commented on #472
@rsmayda
These are the environment information when I run the serverless info

  Your Environment Information ---------------------------
     Operating System:          linux
     Node Version:              14.4.0
     Framework Version:         2.29.0 (standalone)
     Plugin Version:            4.5.0
     SDK Version:               n/a
     Components Version:        3.7.2

[2021-10-11 07:39] idm0404u commented on #472
@rsmayda  I have deleted node_modules and reinstalled again, still facing the same issue.

[2021-10-11 15:06] #469 closed, assigned to rsmayda

[2021-10-11 18:32] Bingjiling commented on #472
Hi @idm0404u,

Thanks for your interest in FWoA!

I'm wondering if you've successfully deployed FWoA before and ran into this issue when updating the stack? Or this is the first time you deploy FWoA in this environment? If it's the first time you deploy it, I would recommend following the instruction [here](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/INSTALL.md#linux-or-m

[2021-10-12 07:55] idm0404u commented on #472
Hi @Bingjiling,

I have followed the instruction for Linux (ubantu), I have used the install script before running serverless.
 while deploying  :
 serverless deploy --aws-profile sohel-serverless-cv-two --stage dev --region ap-south-1

I am getting this error

Error: spawn yarn ENOENT
at Process.ChildProcess._handle.onexit (internal/child_process.js:269:19)
at onErrorNT (internal/child_process.js

[2021-10-15 19:31] Bingjiling commented on #477
Hi @Zambonilli , thanks for reaching out! A ticket has been created in our backlog for this feature.

[2021-10-18 15:19] Bingjiling commented on #472
Hi @idm0404u,

Thanks for the additional details. Could you please share the detailed commands and logs for the Docker install? We can try reproducing the issue on our side with these information.

Thanks

[2021-10-18 17:16] aakashkag opened #495 "Machine to Machine Authentification"
**What's on your mind?**
How to enable machine to machine authentication. Basically Another api will call to fhir server. My another api only accept client id and client secrate Which we can use to get token from  Cognito.
 How we can enable by default to generate client secret during deployment of fhir on aws.  also I don't want to enable api key.

**Versions (please complete the following inform

[2021-10-20 06:59] rhinozD opened #498 "[Misc] Got ResourceNotFoundException error at audit-log-mover-poc-exportCloudwatchLogs"
**What's on your mind?**
I've got this error when I check audit-log-mover-poc-exportCloudwatchLogs LogGroup.
`ERROR	Failed to kick off all export tasks ResourceNotFoundException: The specified log group does not exist.`

Is this a bug or just I did mistake somewhere?
I found that the log group which is exported here not exist in CloudWatch.
[code]
[](https://github.com/awslabs/fhir-works-on-aws-de

[2021-10-20 15:55] carvantes commented on #432
This was added on https://github.com/awslabs/fhir-works-on-aws-deployment/pull/464

[2021-10-20 15:55] #432 closed, assigned to nobody

[2021-10-22 20:21] maghirardelli commented on #495
Hello @aakashkag,

Thanks for your inquiry! We are looking into it and will get back to you with more information.

Thanks, Marianna

[2021-10-24 04:55] aakashkag opened #499 "Suggestion for elasticsearch elimination"
We are planning to completly shutdown elasticsearch from AWS FHIR stack. Is there any perfornmance issue or any major issue we are going to face if we do so. Our goal to use FHIR for documenr query and patient query. Can we eliminate elasticsearch from solution?

Thank you

[2021-10-24 16:38] idm0404u commented on #472
Hi @Bingjiling ,
I have used the following commands
1. aws configure
2. docker build -t fhir-server-install -f docker/Dockerfile .
3.docker run -v ~/.aws/credentials:/home/node/.aws/credentials:ro -it -l install-container fhir-server-install
4. docker run -it -l install-container fhir-server-install --region ap-south-1 --stage dev

These are the environment variable :
  Your Environment Informatio

[2021-10-25 15:05] maghirardelli commented on #498
Hello @rhinozD,

Thank you for bringing this to our attention. We believe this is a bug and are looking into this now. We'll work on the fix soon.

Thanks,
Marianna

[2021-10-29 15:15] Zambonilli commented on #476
good call on doing some performance tests. Some generic workload performance tests on non-provisioned lambdas are  showing mixed results.

https://dev.to/aws-builders/aws-lambda-graviton2-cheap-and-slow-51ld

[2021-10-29 17:00] jn1119 commented on #499
Hi @aakashkag Just out of curiosity- can you elaborate more on your use case, and why you want to remove elastic search component?

If you remove Elastic Search(ES), you won’t be able to perform any [search](https://www.hl7.org/fhir/http.html) operations. You would be able to perform other simple lookups though. To remove ES, you will need to remove the DynamoDB stream that writes back to ES. And

[2021-10-29 17:50] aakashkag commented on #499
Hi @jn1119 Thanks for reply.
We don't need full text search. becuase we  are exposing FHIR to xyz service which is only going to  consume document reference api by providing patient id.

In such use cases i don't see point to having ElasticSearch becuase it cost alot as compare to other resource and ES is not much usefull in our case.

Could you plese point out how to remove the DynamoDB stream th

[2021-11-01 13:29] jn1119 commented on #495
Hi @aakashkag, Can you add more details on what you are trying to achieve here? If your intention is to call FHIR APIs from your own API - you should be able to use a Cognito token belonging to the configured user pool which was used to bring up FHIR server. It is completely up to you if you want to use the same user pool for your own APIs too.

If you don't want to enable api keys, you would need

[2021-11-01 14:00] jn1119 commented on #472
Hi @idm0404u, I tried the docker approach using Ubuntu and wasn't able to reproduce the issue. I used `Ubuntu Server 20.04 LTS (HVM)` when bringing up my EC2 instance and used the following commands from tutorial when downloading [Docker](https://docs.docker.com/engine/install/ubuntu/) on ubuntu. I ended up using the latest version `5:20.10.10~3-0~ubuntu-focal`. Once I was done setting up Docker,

[2021-11-01 15:00] aakashkag commented on #495
@jn1119
I am exposing FHIR to Commonwell. Commonwell only take fhir server url, client id, client secret and Oauth url.
In my case , Commonwell only can only generate token using Client Credential Oauth flow right?

In Project read me it is mentioned that "To access the API, you must use the ID token. This ID token must include scopes of either openid, profile or aws.cognito.signin.user.admin."
We

[2021-11-01 15:44] aakashkag opened #505 "Chained parameter search patient.identifier not working"
In document reference patient.identifier search not working.
For example: {{API_URL}}/DocumentReference?patient.identifier=1.3.6.1.4.1.19376.1.2.3%7C123456789
returning empty result

[code]
This is valid search : https://www.hl7.org/fhir/search.html#token

I deployed FHIR Using cloudformation: https://docs.aws.amazon.com/solutions/latest/fhir-works-on-aws/automated-deployment.html

[2021-11-01 20:17] carvantes commented on #505
Hi,
`{{API_URL}}/DocumentReference?patient.identifier=111` is known as "chained parameters" (https://www.hl7.org/fhir/search.html#chaining)

At this moment we do not support chained parameters. However, we are currently working on it and it will be released soon.

The PR with the implementation is https://github.com/awslabs/fhir-works-on-aws-search-es/pull/129. We'll update here once we release th

[2021-11-01 20:19] carvantes commented on #505
Also, for future reference, the supported search features can be found here: https://github.com/awslabs/fhir-works-on-aws-search-es#fhir-search-features-supported

[2021-11-01 21:57] carvantes commented on #499
Hi,

Removing elasticsearch may not be a suitable solution for you. Without it, the entire [Search API](https://www.hl7.org/fhir/search.html) won't work.
` /DocumentReference?identifier=valuehere` and ` /DocumentReference?patient.identifier= Valuehere` are both search queries that run on elasticsearch.

Without elasticsearch you can only use the [read, create, update, create, transaction, and capa

[2021-11-03 19:43] carvantes commented on #472
Hi,

`Error: spawn yarn ENOENT` can only mean that `yarn` is not installed or that it somehow cannot be found by the nodejs process(i.e. cannot be found in `$PATH`).

Unfortunately we haven't been abbe to reproduce the issue on our side.

We recommend that you double check that yarn is installed correctly. You can uninstall and then reinstall yarn to be safe:
[code]
Also, if you installed `yarn` v

[2021-11-04 14:13] Zambonilli opened #509 "[Feature Request] Amazon OpenSearch Reindexing"
**Is your feature request related to a problem? Please describe.**
While running multiple fwoa environments we have experienced moments where our OpenSearch indexes have become corrupt and we need to delete them to get searching to work again. We switched from the json schema validator to the hapi validator when deploying our custom implementation guide. Fortunately, our misbehaving client was now

[2021-11-04 20:45] carvantes commented on #505
Hi,

We released the chained search parameters feature as part of `fhir-works-on-aws-search-es@3.8.0`

You can upgrade the search package version or pull the latest changes for ` fhir-works-on-aws-deployment`(we already bumped the search package version in there)

Please try it out and let us know if you have any feedback

[2021-11-04 20:45] #505 closed, assigned to nobody

[2021-11-08 09:44] #472 closed, assigned to nobody

[2021-11-08 09:54] carvantes commented on #498
Hi,

This issue was fixed on https://github.com/awslabs/fhir-works-on-aws-deployment/pull/503.

Note that after applying the fix, new logs will be exported to S3 as usual, but old logs that were not exported will remain in CloudWatch. You can move the old logs to s3 with the `create-export-task` API: https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/S3ExportTasks.html

[2021-11-08 09:54] #498 closed, assigned to nobody

[2021-11-08 21:19] carvantes commented on #499
If you still want to remove Elasticsearch after the above considerations, these are the changes that you need to make:

Remove the following:
- The `ddbToEs` lambda: https://github.com/awslabs/fhir-works-on-aws-deployment/blob/2bf9edc69a40e81b1716764d83c221881c0d48a0/serverless.yaml#L116
- All the search resources. You can simply delete the `elasticsearch.yaml` import: https://github.com/awslabs/f

[2021-11-08 21:19] #499 closed, assigned to nobody

[2021-11-09 18:50] sohel-khan opened #512 "An error occurred: GlueJobSecurityConfig - export-security-config already exists in stack"
I have successfully installed the solution first time on the **qa** stage and it is working fine, But when I'm trying to install on another stage like on **dev** stage that time I am facing the below issue. It seems that it is using the previous deployment's stage name i.e  **fhir-service-qa** rather it should be **fhir-service-dev**

[code]

Please have a look into that and give me an appropriate

[2021-11-09 19:24] ssvegaraju commented on #512
Hi, thanks for bringing up this issue! Could I ask what version of the deployment package you are running, and what steps you took to reproduce this error?

[2021-11-09 19:31] sohel-khan commented on #512
Hi @ssvegaraju I'm using the latest version and I got this error when I'm trying to deploy on another stage.

**sudo -E ./scripts/install.sh -r ap-south-1 -s qa**
- Deployed successfully

AND then tried
**sudo -E ./scripts/install.sh -r ap-south-1 -s dev**
 - Deployment Failed

[2021-11-15 16:31] ssvegaraju commented on #509
Hey @Zambonilli, thanks for bringing this up! We have recently implemented statically-typed mappings as you mentioned to help mitigate this issue, but there may still be cases where this doesn't work. We have added this request to our backlog!

[2021-11-15 17:30] ssvegaraju commented on #512
Hi @sohel-khan, just wanted to reach out to let you know that a fix for this issue has just been merged into `mainline`. I'm going to close this issue for now but feel free to reopen if there's anything else!

[2021-11-15 17:30] #512 closed, assigned to nobody

[2021-11-16 02:13] rhinozD opened #515 "[Bug] MedicationRequest POST - required invalid error"
**Describe the bug**
400 Error response when Post Medication Request resource. It was OK when Post other resources.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `{{API_URL}}/MedicationRequest`
2. Body data :
[code]
3. Click Send
4. See error
[code]

**Expected behavior**
Expected to Post successfully.

**Versions (please complete the following information):**
 - 4.0.0

[2021-11-16 18:10] rsmayda commented on #515
I can't seem to reproduce it. To better help could you answer these questions:
* What is your validator? JSON Schema or the HAPI Validator?
* If HAPI what IGs are you using?
* Also did you make any changes to this [configuration file](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/src/config.ts#L110)?

Thanks!

[2021-11-17 02:00] rhinozD commented on #515
@rsmayda
[code]
I just cloned version 4.0.0, deployed it and try to post a MedicationRequest.
So, everything was default.
This is my response from the Post request:
![image](https://user-images.githubusercontent.com/7701882/142095045-6bdc00a3-d678-4e0a-a286-7657ae9066ad.png)

In fact, it only happen when I use Postman to make MedicationRequest post request.
the request works fine when I make it by

[2021-11-17 17:36] padraignolan opened #516 "[Bug][Search] Unable to search for boolean FHIR parameters"
**Describe the bug**
Patient documents that have an active field of type boolean are not searchable.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Patient Resource with active set to `true`
https://www.hl7.org/fhir/patient-example.json.html
2. Invoke Search endpoint /Patient?active=true
3. No results are returned

**Expected behavior**
Active Patients should be returned

**Version

[2021-11-17 21:09] rsmayda commented on #515
Weird! Can you try a different MedicationRequest body? (i.e. delete the whole Postman body and paste in another valid option)

[2021-11-17 21:51] rsmayda commented on #516
Could you check to see what you patient index is indexing `active` property as? I suspect it is being indexed as a `boolean` and our search isn't taking that into account

To do this log into your AWS Account and go to Opensearch domain, click on your domain then click on indices tab and search for `active`

[2021-11-18 09:16] padraignolan commented on #516
Yes it's been indexed as a boolean
![Screenshot 2021-11-18 at 09 15 58](https://user-images.githubusercontent.com/7793238/142386460-4202c9ed-33d5-4f1f-848c-71be59ab40de.png)

[2021-11-18 15:03] rsmayda commented on #516
Thanks, for confirming. I will be looking into resolving this

[2021-11-18 15:46] Zambonilli commented on #509
Thanks @ssvegaraju

Another use case we're hitting where this tooling would be used is for Disaster Recovery. Currently, AWS Backup does not support Amazon OpenSearch. There might be better, faster and cheaper ways to do DR natively as part of Amazon OpenSearch like using connections or multi-cluster but another path would be to reindex from dynamoDB which is supported by AWS Backup.

[2021-11-19 07:04] sohel-khan commented on #512
Hi  @ssvegaraju, How I can re-deploy new changes?
 I have searched the solution for this in the document But I didn't find anything related to it...

[2021-11-19 21:34] ssvegaraju commented on #512
after pulling the changes from GitHub, you can employ the same process outlined above to re-deploy with the new changes. (i.e. running `sudo -E ./scripts/install.sh -r <YOUR REGION HERE> -s <YOUR STAGE HERE>`).

[2021-11-19 23:02] sohel-khan commented on #512
@ssvegaraju  Okay thanks, will do the same

[2021-11-22 13:30] rsmayda commented on #495
So in general you would want to use our [`smart` branch](https://github.com/awslabs/fhir-works-on-aws-deployment/tree/smart-mainline) which is where we have SMART on FHIR support.

For Client Credential OAuth flow you would AuthN with your idP and should have get an access_token with the required FHIR claims. Then with that access_token you can all us (the FHIR endpoint)

[2021-12-01 14:44] maghirardelli commented on #515
Closing due to no response

[2021-12-01 14:44] #515 closed, assigned to nobody

[2021-12-10 19:31] Zambonilli opened #521 "[Question] log4shell vulnerability in javaHapiValidatorLambda"
**What's on your mind?**
Can I confirm that this push is the recommended fwoa fix for log4shell vulnerability, cve-2021-44228. Besides upgrading past log4j 2.14.0 in the javaHapiValidatorLambda are there any other fwoa steps you guys are seeing? Are there any other fwoa touch points that are potentially vulnerable. I'm not seeing any besides this lambda and I apologize for the vagueness but our se

[2021-12-10 19:40] Bingjiling commented on #516
Hi @PNolan92 ,

This issue has been fixed in mainline. Thanks for helping us identifying the issue!

Thanks,
Yanyu

[2021-12-10 19:40] #516 closed, assigned to nobody

[2021-12-10 19:55] Bingjiling commented on #521
Hi @Zambonilli ,

Thanks for reaching out! This [update](https://github.com/awslabs/fhir-works-on-aws-deployment/pull/519) is the recommended fix for the log4j vulnerability by Dependabot. The `javaHapiValidatorLambda` is the only component in FWoA that uses Java so there's no other potential vulnerability linked to this log4j issue.

On a side note, some of the fhir package versions you listed ar

[2021-12-10 19:57] #521 closed, assigned to nobody

[2021-12-10 20:26] Zambonilli commented on #521
Perfect, our analysis matches the same. Thank you for the quick response!

[2021-12-13 17:15] Bingjiling commented on #444
Thanks for reaching out! Chained parameter search has been implemented in the search package(PR: https://github.com/awslabs/fhir-works-on-aws-search-es/pull/129), the feature is now available in mainline.

[2021-12-13 17:15] #444 closed, assigned to nobody

[2021-12-13 17:21] Bingjiling commented on #227
Fhir Works on AWS Solutions has released [v4.0.0-Solution](https://github.com/awslabs/fhir-works-on-aws-deployment/releases/tag/v4.0.0-Solution), which is a functional equivalent to github v4.0.0. Please follow the implementation guide on the [Solutions landing page](https://aws.amazon.com/solutions/implementations/fhir-works-on-aws/) for more information.

[2021-12-13 17:21] #227 closed, assigned to nobody

[2021-12-22 22:48] nirojshrestha019 opened #531 "why integation tests are done before fhir works deployment?"
**What's on your mind?**
It seems that [`yarn run release`](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/smart-mainline/scripts/install.sh#L309)  command runs integration-tests. But I am a little bit confused why it is being tested before the actual [serverless-deploy](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/smart-mainline/scripts/install.sh#L318) fhirworks dep

[2022-01-04 07:06] carvantes commented on #531
Hi,

`yarn run release` does not run integration tests. It only runs unit tests. There is a different script `yarn run int-test` to run integ tests

https://github.com/awslabs/fhir-works-on-aws-deployment/blob/79e90276fc5b4ba977cd8970e98c1f076a1858e9/package.json#L19-L26

I wasn't able to reproduce the issue of integ tests running before deployment with the default install script. Maybe the issue

[2022-01-06 21:19] nirojshrestha019 commented on #531
Thank you for the clarification @carvantes . Here is the copy paste of the codebuild log where integration-test runs:

[code]

But, if I replace [`yarn run release`](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/smart-mainline/scripts/install.sh#L309) with `yarn run build` from install.sh then the integration tests are not run as seen in codebuild logs.

Thus, it seems like `yarn ru

[2022-01-07 09:27] carvantes commented on #495
Hi, Hopefully the smart branch was useful for your use case. I'm closing this issue now, but feel free to reopen if you have further questions

[2022-01-07 09:27] #495 closed, assigned to nobody

[2022-01-07 16:47] carvantes commented on #531
`yarn run release` runs `yarn run test` which in turn runs `jest --silent --passWithNoTests --testPathPattern=src/*`

the jest command is not working properly on your environment. It seems to be ignoring the `--testPathPattern=src/*` arg. It shouldn't run integ tests since those are on the `integration-test/` folder and not under `src/*`. I'm unable to reproduce this issue locally.

Looks like the

[2022-01-07 18:40] nirojshrestha019 commented on #531
Thank you for the response. I did delete the `package-lock.json` file and updated the `jest` version to `26.6.3` but still `yarn run release` is doing an integration test which results in errors as above. I am running the scrips in a Linux environment.

I was curious at what point of the installation of FWOA the integration test is ran if `yarn run release` is not supposed to run that test?

[2022-01-10 16:02] Zambonilli commented on #461
To help anyone that stumbles upon this later. If you're doing a migration of records to fwoa and your dataset's unique IDs are not already GUIDs you can use a named UUID to deterministically has your id to a useable ID value. This helps keep your migration tooling a bit more lightweight than having to manage xref tables.

https://uuid.ramsey.dev/en/stable/rfc4122/version5.html

[2022-01-10 16:05] Zambonilli commented on #521
For posterity’s sake, we had to also apply critical service software update, R20211203-P2, in Amazon OpenSearch.

[2022-01-10 16:22] carvantes commented on #531
The integ tests do not run as part of the FWOA installation. We run integ tests automatically before merging to `mainline`: https://github.com/awslabs/fhir-works-on-aws-deployment/blob/08674d3e0c91143d14ac22dd60bc1b41dda425a6/.github/workflows/deploy.yaml#L198

Customers that wish to only install FWOA don't need to run integ tests, but the tests are available should they want to run them on a CI/C

[2022-01-17 19:10] lquanx commented on #531
Hi @carvantes , Thanks for your comments. I found a workaround which is
`"test": "jest --silent --passWithNoTests --testPathPattern=\"$PWD/src\"",`
Do you mind me putting up a PR ?

[2022-01-18 05:53] carvantes commented on #531
@Lin-002 ,thanks for the suggestion. It is a nice workaround but unfortunately it won't work on Windows. It actually messes up Windows since it prevents unit tests from running even if they are using a "normal" path that does not contain `src/`.

Ideally we want to commit a solution that works in both Linux and Windows.

[2022-01-18 13:08] lquanx commented on #531
That makes sense.

[2022-01-18 13:11] #531 closed, assigned to nobody

[2022-01-18 20:58] Zambonilli commented on #378
Update for supporting a dynamic URL when using a private api gateway. We were seeing our HAPI FHIR client SDK throw exceptions on paging search requests because the TLD used in the response's link values was the public API gateway and not private API gateway. I added a configuration boolean called `dynamicHostName` to the config's server property. When this value is set to true, the setServerUrl m

[2022-01-21 10:25] ramunasjurgilas opened #545 "GET method for ObservationDefinition with provided custom search parameter fails"
- A: I have created (example: # 1) search parameter for ObservationDefinition resource.
- B: Then created (example: # 2) ObservationDefinition with extension which contains patient ID.
- C: When searching (example: # 3) for ObservationDefinition with patient ID it fails, that search parameter 'heart-rate-anomaly-range-patient-id' invalid (full error: # 4).

Do I need to do additional steps, that c

[2022-01-21 15:20] lwarren01 commented on #545
Looking at your SearchParameter specification you have a code value set to `heart-rate-anomaly-range`. That should be the name of the query parameter you provide. You are instead providing `heart-rate-anomaly-range-patient-id`.

[2022-01-21 20:05] Zambonilli opened #546 "[Feature Request] role for performing startRestoreJob backup restores"
**Is your feature request related to a problem? Please describe.**
Currently, there is no out of the box role for specifying as the role to use in AWS Backup restore process when calling startRestoreJob in fwoa. The existing backup infrastructure sets up only enough for performing the backup jobs themselves and not restoring from the backups.

**Describe the solution you'd like**
An out of the box

[2022-01-22 05:58] damianesteban opened #547 "[Bug] Unauthorized Error after deploying the solution"
**Describe the bug**

After following instructions and deploying the solution, I am receiving an Unauthorized error when making a request in postman

**To Reproduce**
Steps to reproduce the behavior:
1. Enter in the env variables in postman
2. Click on the Patient POST Request in the Postman Collection, hit Send
3. The reponse I get is:```{
    "message": "Unauthorized"
} ```

**Expected behavior*

[2022-01-24 06:13] ramunasjurgilas commented on #545
Thanks for the guidance. Unfortunately after changing code value I still getting same error. Is here still something wrong?

PS: I have updated POST SearchParameter with your suggestion.

As example custom search parameter in the [Google FHIR](https://cloud.google.com/healthcare-api/docs/how-tos/fhir-custom-search) setup must be enabled explicit by executing <API_URL>:configureSearch (on AWS it is

[2022-01-24 19:18] Bingjiling commented on #547
Hi @damianesteban,

Thanks for reaching out!

Have you set the `API_KEY` and `COGNITO_TOKEN` value in Postman? If not, you can follow the instructions [here](https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/README.md#using-postman-to-make-api-requests) to set these values.

If you're still getting errors afterwards, could you please try the `/metadata` endpoint and see what it

[2022-01-24 19:22] Bingjiling commented on #546
Hi @Zambonilli,

Thanks for reaching out! I'll check with my team on this request and get back to you.

Thanks,
Yanyu

[2022-01-24 19:25] damianesteban commented on #547
I was able to get it working by entering the cognito token in the config for the individual requests. Thank you!

[2022-01-24 19:25] #547 closed, assigned to nobody

[2022-01-26 22:00] Bingjiling commented on #545
Hi @ramunasjurgilas,

Thanks for reaching out!

FWoA can not integrate new search parameters that's added through a POST request. To introduce new search parameters, you need to create an IG that includes that parameter, and deploy FWoA with that IG.

Here's documentation on how to use IG: https://github.com/awslabs/fhir-works-on-aws-deployment/blob/mainline/USING_IMPLEMENTATION_GUIDES.md

Here's

[2022-02-02 18:24] Bingjiling commented on #546
Hi @Zambonilli - This request has been added to our backlog. Thanks for your input!

[2022-02-02 19:27] Zambonilli commented on #546
Much appreciated, thank you

[2022-02-02 20:07] #545 closed, assigned to nobody

[2022-02-09 03:24] carvantes commented on #546
Hi, thanks for submitting the PR https://github.com/awslabs/fhir-works-on-aws-deployment/pull/556. Looks like that PR already solves this issue in full.
I'm closing this now. Feel free to reopen if needed

[2022-02-09 03:24] #546 closed, assigned to nobody

[2022-02-10 00:43] carvantes commented on #378
Hi @Zambonilli ,

Thanks for submitting all the PRs. Looks like there are 2 things:
- Changes in interface/routing to allow dynamic hostnames.
- Changes in deployment to actually setup the private APIGW

At this moment we've decided to only merge the interface/routing changes. The deployment package serves as a starting point for customers and it showcases how to assemble all the different FWoA co

[2022-02-10 01:21] Zambonilli commented on #378
No worries and thanks for letting me know @carvantes. We have our private fork that we can manage anything that doesn't make sense in the public fwoa project like this private API gateway setup.

[2022-02-11 18:40] Sami-M opened #560 "[Bug] Can't Search by Subject for DocumentReference and Media"
I’m having trouble searching for Media and DocumentReference types by subject reference (type Patient) using the API. However, I do see some entries when I search for all DocumentReference and Media types and sort by last updated. For context, I’m using the  v4.0.0 release as of now. Some example queries that always return 0 search results are as follows:

[code]
[code]
[code]
[code]
[code]

Can a